{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<h1>Contact</h1>

<p class="underh1">
	Als je een probleem hebt, bekijk dan eerst de <a href="/support/">ondersteuning</a> van Seasoning.be. Voor algemene informatie, vragen en suggesties kan je mailen naar info@seasoning.be. We proberen je verzoek zo snel mogelijk te behandelen.
</p>

<h2>Ontwikkelaars</h2>

<div class="contactdevs">
	<img class="devpic" src="http://img2.cda.pl/PV9vdnJac257MF9xZGMzeGwyMXU5YWR_bzdlIDJgMCQ8MTl2ZDZhfT9mOTpqdWdDPDIzOjE3MzI8MjNLMTM1Kj80MCEyNGJxxxxPw==/edf3da21a9ddcb7e42e08119bd3aa2f9.jpg" />
	
	<p class="underh2">
	 Naam: Joep Driesen<br/>
	 Taak: Website development<br/>
	 Opleiding: Master in de Ingenieurswetenschappen<br/>
	 Functie: Oprichter De GDF<br/>
	 Contact: joep@seasoning.be
	</p>
</div>

<div class="contactdevs">
	<img class="devpic" src="https://files.nyu.edu/ll1208/public/pikachu3.jpg" />
	
	<p class="underh2">
	 Naam: Bram Somers<br/>
	 Taak: Content management<br/>
	 Opleiding: Master in de Culturele Studies<br/>
	 Functie: Oprichter De GDF<br/>
	 Contact: bram@seasoning.be
	</p>
</div>

<p class="underh1">
	De website http://www.seasoning.be staat onder het beheer van de feitelijke vereniging De GDF, die de ontwikkelaars van deze website omvat.
</p>

<h2>Adres</h2> 


{% endblock %}
