<h1>Ondersteuning</h1>

<h2>1. Zoek je antwoord in ons helpcentrum</h2>

<input />

<p>
	We proberen de meest voorkomende vragen en problemen zo goed mogelijk op te lossen. Gebruik een zoekterm in de zoekbalk hierboven of zoek hieronder op thema!
</p>

<p>
	Basisfuncties van Seasoning.be<br/>
	Recepten - Foto's - Instellingen - Andere
</p>

<p>
	Problemen<br/>
	Registreren - Aanmelden - Profiel - Andere
</p>

<p>
	Veiligheid<br/>
	Voorwaarden - Privacybeleid - Spam
</p>

<h2>2. Stel je vraag aan de community</h2>

<p>
	Misschien hebben anderen hetzelfde probleem. Stel je vraag in de community en krijg een antwoord van een andere gebruiker!
</p>

<h2>3. Contacteer ons</h2>

<h3>Algemeen</h3>

<p>
	Voor algemene informatie, vragen en suggesties kan je mailen naar info@seasoning.be. We 	proberen je verzoek zo snel mogelijk te behandelen.
</p>

<h3>Pers en partnerships</h3>

<p>
	Mail naar bram@seasoning.be als aanspreekpunt voor de pers en mogelijke partnerships.
</p>

<h3>Technische problemen of misbruik</h3>

<p>
	Om problemen te signaleren of misbruik te melden, kan je mailen naar joep@seasoning.be. Stuur 	indien mogelijk de link naar de pagina waar het probleem zich voordoet.
</p>

<p>
	Uitgebreide contactgegevens vind je onder contact.
</p>