	<div id="recipe-summaries">
        {% for recipe in recipes %}
        <a href="/recipes/{{ recipe.id }}/">
            <div class="recipe-summary">
                <div class="recipe-img">
                    <img src="https://www.seasoning.be/media/{{ recipe.image }}" />
                </div>
                <div class="recipe-text">
                    <div class="recipe-name">
                        {{ recipe.name }}
                    </div>
                    <div class="recipe-description">
                        {{ recipe.description }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>