{% extends "base.html" %}

{% block title %}Recepten{% endblock %}

{% block extra_head %}
<script>
	function make_hover_effect() {
		$('.recipe-summary').hover(function() {
            $(this).find('.recipe-description').slideDown(500);
        }, function() {
            $(this).find('.recipe-description').slideUp(500);
        });
	}
	
	function switch_to_recipes_page(page_num, num_pages) {
		if (page_num > num_pages) {
			page_num = 1;
		} else if (page_num < 1) {
			page_num = num_pages;
		}
		$.post('/recipes/',
			   {'page': page_num})
		.done(function(data) {
			$("#recipe-summaries-include-wrapper").html(data);
    		make_hover_effect();
		});
		$("#current-page").text(page_num);
	};
	
    $(document).ready(function() {
    	make_hover_effect();
    	
		var num_pages = parseInt($("#num-pages").text());
        $('.recipe-summaries-arrow .arrow-left').click(function() {
        	switch_to_recipes_page(parseInt($('#current-page').text()) - 1, num_pages);
        });
        $('.recipe-summaries-arrow .arrow-right').click(function() {
        	switch_to_recipes_page(parseInt($('#current-page').text()) + 1, num_pages);
        });
    });
</script>
{% endblock %}

{% block page_name %}Recepten{% endblock %}

{% block content %}

<div id="recipe-summaries-wrapper">
	<span id="current-page" style="display:none">{{ recipes.number }}</span>
	<span id="num-pages" style="display:none">{{ recipes.paginator.num_pages }}</span>
	<div class="recipe-summaries-arrow">
		<div class="arrow-left"></div>
		<div class="filler"></div>
	</div>
	<div id="recipe-summaries-include-wrapper">
    	{% include "includes/recipe_summaries.html" %}
    </div>
    <div class="recipe-summaries-arrow right">
    	<div class="arrow-right"></div>
		<div class="filler"></div>
    </div>
</div>

{% endblock %}
