{% extends "base.html" %}

{% block title %}Recepten{% endblock %}

{% block extra_head %}
<script>
	//function make_hover_effect() {
	//	$('.recipe-summary').hover(function() {
    //        $(this).find('.recipe-description').slideDown(500);
    //    }, function() {
    //        $(this).find('.recipe-description').slideUp(500);
    //    });
	//}
	
	function switch_to_recipes_page(page_num, num_pages) {
		if (page_num > num_pages) {
			page_num = 1;
		} else if (page_num < 1) {
			page_num = num_pages;
		}
		$.post('/recipes/',
			   {'page': page_num})
		.done(function(data) {
			$("#recipe-summaries-include-wrapper").html(data);
    	//	make_hover_effect();
		});
		$("#current-page").text(page_num);
	};
	
    $(document).ready(function() {
    	$("#advanced-link").click(function() {
    		if ($("#advanced-search").is(":visible")) {
    			$("#advanced-search").slideUp(1000, function() {
    				$("#advanced-link").text("Geavanceerd Zoeken");
    				$("#recipe-summaries-wrapper").css("width", "960px");
    			});
    		} else {
    			$("#recipe-summaries-wrapper").css("width", "720px");
    			$("#advanced-search").slideDown(1000);
    			$("#advanced-link").text("Niet-geavanceerd Zoeken");
    		}
    		return false;
    	});
    
    	make_hover_effect();
    	
		var num_pages = parseInt($("#num-pages").text());
        $('.recipe-summaries-arrow .arrow-left').click(function() {
        	switch_to_recipes_page(parseInt($('#current-page').text()) - 1, num_pages);
        });
        $('.recipe-summaries-arrow .arrow-right').click(function() {
        	switch_to_recipes_page(parseInt($('#current-page').text()) + 1, num_pages);
        });
    });
</script>
{% endblock %}

{% block page_name %}Recepten{% endblock %}

{% block content %}

<div id="basic-search">
	<form class="keywords" action="" method="post">
	    {{ form.search_string }}
	    <button id="keywords-submit" class="nochrome" type="submit">
	        <span class="submit-icon"></span>
	    </button>
	</form>
	<a id="advanced-link" href="#">Geavanceerd Zoeken</a>
	<span id="search-result-count">{{ recipes.start_index }}-{{ recipes.end_index }} van de {{ recipes.paginator.count }} resultaten</span>
</div>
<hr>
<div id="advanced-search">
	{{ form.sort_field }}
	{{ form.sort_order }}
	{{ form.ven }}
	{{ form.veg }}
	{{ form.nveg }}
	{{ form.cuisine }}
	{{ form.course }}
	{{ form.include_ingredients_operator }}
</div>
<div id="recipe-summaries-wrapper">
	{% for recipe in recipes %}
    	{% include "includes/recipe_summary.html" %}
    {% endfor %}
</div>

{% endblock %}
