{% extends "base.html" %}

{% block REC_nav_status %}active{% endblock %}

{% block extrahead %}
    <script src="{{ STATIC_URL }}js/autocomplete_ingredients.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/formset.js" type="text/javascript"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#uses-addbtn').click(function() {
				return addForm(this, "uses");
			})});
	</script>
{% endblock %}


{% block content %}
<h1>Recept {% if new %}Toevoegen{% else %}Aanpassen{% endif %}</h1>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ recipe_form.non_field_errors }}
  {{ recipe_form.as_p }}
  {{ usesingredient_formset.management_form }}
  <table>
    {% for form in usesingredient_formset %}
    {% if forloop.first %}
    <tr>
      <td><label>{{ form.ingredient.label }}</label></td>
      <td><label>{{ form.amount.label }}</label></td>
    </tr>
    {% endif %}
    <tr class="uses-form">
    {{ form.id }}
      <td>
	{{ form.group.as_hidden }}
	{{ form.ingredient }}
      </td>
      <td>
	{{ form.amount }} {{ form.unit }}
      </td>
    </tr>    
    {% if form.non_field_errors %}
    <tr>
    	<td colspan=2>
    		{{ form.non_field_errors }}
    	</td>
	</tr>
    {% endif %}
    {% endfor %}
    <tr class="empty uses-form">
      <td>
	{{ usesingredient_formset.empty_form.group.as_hidden }}
	{{ usesingredient_formset.empty_form.ingredient }}
      </td>
      <td>
	{{ usesingredient_formset.empty_form.amount }} {{ usesingredient_formset.empty_form.unit }}
      </td>
    </tr>
    <tr>
		<td><a href="#" id="uses-addbtn"><img src="http://us.cdn1.123rf.com/168nwm/djordjer/djordjer1103/djordjer110300027/9107139-plus-chrome-button.jpg"></a></td>
	</tr>
  </table>
  
  <input id="submit-btn" type="submit" value="{% if new %}Toevoegen{% else %}Aanpassen{% endif %}" />
</form>

{% endblock %}
