{% for uses in usess %}
<div class="ingredient {% cycle "dark-row" "" %}">
	<span class="ingredient-left">
		<span class="ingredient-name">
			<a href="/ingredients/{{ uses.ingredient.id }}/">{{ uses.ingredient.name }}</a>
		</span>
		<span class="ingredient-amount">
			{{ uses.amount|floatformat:"-2" }} {{ uses.unit.short_name}}
		</span>
	</span>
	<span class="ingredient-right">
		<span class="ingredient-moreinfo-button">
			<a href="#" title="Meer informatie over dit ingredient"><img src="{{ STATIC_URL }}img/icons/add.png" /></a>
		</span>
		<span class="ingredient-footprint">
			{{ uses.footprint }} kgCO2
		</span>
	</span>
	<div class="clear-div"> </div>
</div>
{% endfor %}