{% extends "base.html" %}
{% load comments %}

{% block title %}Recept bekijken{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style>
/*
 * Tooltip styles
 */
.ui-tooltip {
    position: absolute;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #5B6553;
}
</style>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/raty.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {
        $('#portions-slider').slider({
            min: 1,
            max: 8,
            value: {{ recipe.portions }},
            change: function(event, ui) {
            	$('#custom-portions-input').val(ui.value).trigger('change');
            }
        });
        
        $('#rating-display').raty({
            path: '{{ STATIC_URL }}img/raty',
            width: 110,{% if recipe.rating %}
            score: {{ recipe.rating }},{% endif %}
            readOnly: true,
            noRatedMsg: "Nog geen ratings voor dit recept!",
        });
        
        $('#user-rating-display').raty({
            path: '{{ STATIC_URL }}img/raty',
            width: 110,
            {% if user_vote %}score: {{ user_vote.score }},{% endif %}
            click: function(score, evt) {
            	$("#rating-loader").show();
            	$.post('/recipes/vote/',
            		   {'recipe': {{ recipe.id }},
            		    'score': score})
            	.done(function(data) {
            		var new_rating_info = $.parseJSON(data);
            		$('#rating-display').raty('set', {score: parseFloat(new_rating_info['new_rating'])});
            		$('#total-rating').text(parseFloat(new_rating_info['new_rating']).toFixed(1));
            		$('#total-votes').text(parseInt(new_rating_info['new_novotes']));
            		$('#rating-loader').hide();
            	});
           	},
        });
        
        $('#custom-portions-input').change(function() {
        	$('#ingredients-loader').show();
        	$.post('/recipes/portions/',
        		   {'recipe': {{ recipe.id }},
        		    'portions': $('#custom-portions-input').val()})
        	.done(function(data) {
        		if ($('#custom-portions-input').val() != {{ recipe.portions }}) {
        			$('#instructions-warning').fadeIn('1000');
        		} else {
        			$('#instructions-warning').fadeOut('1000');
        		}
        		var parsed_data = $.parseJSON(data);
        		$('#total-footprint').text(parsed_data['new_footprint']);
        		$('#ingredients').html(parsed_data['ingredient_list']);
        		adjust_footprint_percentages();
        		$('#ingredients-loader').hide();
        	});
        });
        
        adjust_footprint_percentages();
    });
    
    function adjust_footprint_percentages() {
        var total_footprint = parseFloat($('#total-footprint').text());
        $('.ingredient').each(function() {
            var footprint = parseFloat($(this).find('.footprint-number').text());
            var percentage = (footprint/total_footprint)*100;
            $(this).find('.percentage-number').text(parseInt(percentage) + '%');
            $(this).find('.footprint-fill').animate({
                width: percentage + "%"
            }, 1000);
        });
    }
</script>
{% endblock %}

{% block page_name %}
	{{ recipe.name }}
    <div id="recipe-actions">
        {% if recipe.author == user %}
        <a href="/recipes/edit/{{ recipe.id }}/" title="Wijzig dit recept"><img src="{{ STATIC_URL }}img/icons/edit.png" /></a>
        <a href="/recipes/delete/{{ recipe.id }}/" title="Verwijder dit recept" onclick="return confirm('Bent u zeker dat u dit recept wil verwijderen?')"><img src="{{ STATIC_URL }}img/icons/delete.png" /></a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div id="below-recipe-name">
    
    <div id="add-info">
        <span id="author">Toegevoegd door <a href="/profile/{{ recipe.author.id }}/">{{ recipe.author.get_full_name }}</a></span><br />
        <span id="time-added">{{ recipe.time_added|date:"j F Y, G" }}u{{ recipe.time_added|date:"i" }}</span>
    </div>
    
    <div class="clear-div"> </div>
</div>

    
<div id="recipe">
    
    <div id="img-and-basic-user-options">
        <img id="recipe-img" src="{{ MEDIA_URL }}{{ recipe.image }}"/>
        
        <div id="rating">
            <strong>Populariteit</strong>
            <div id="current-rating">
                <div id="rating-display"> </div>
                <span id="rating-numbers">(<span id="total-rating">{% if recipe.rating != None %}{{ recipe.rating|floatformat:"-1" }}{% else %} - {% endif %}</span>, <span id="total-votes">{{ recipe.number_of_votes }}</span> ratings)</span>
                <span id="loader-hider" style="margin-left:10px;height:16px;display:inline-block;"><span id="rating-loader" style="display:none;">{% include "includes/ajax-loader.html" %}</span></span>
            </div>
            <div id="user-rating">
            	Jouw rating: 
            	{% if user.is_authenticated %}
            	<div id="user-rating-display"> </div>
            	{% else %}
            	<a href="/login/">Meld je aan</a> om een rating aan dit recept te geven
            	{% endif %}
           	</div>
        </div>
        
        <div id="time-needed">
            <strong>Bereidingstijd</strong>
            <div class="timebar">
                <div class="timebar-active" style="width: {{ active_time_perc }}%"><span class="time-label">{% if recipe.active_time != total_time %}{{ recipe.active_time }} min{% endif %}</span></div>
                <div class="timebar-passive" style="width: {{ passive_time_perc }}%"><span class="time-label">{{ total_time }} min</span></div>
            </div>
        </div>
        
        <div id="portions">
            <strong>Porties</strong>
            <div id="portions-slider-wrapper">
                <div id="portions-slider-labels">
                    <div class="portions-slider-label" style="left: 0%">
                        <span> </span>1
                    </div>
                    <div class="portions-slider-label" style="left: 14.3%">
                        <span> </span>2
                    </div>
                    <div class="portions-slider-label" style="left: 28.6%">
                        <span> </span>3
                     </div>
                    <div class="portions-slider-label" style="left: 42.9%">
                        <span> </span>4
                     </div>
                    <div class="portions-slider-label" style="left: 57.2%">
                        <span> </span>5
                     </div>
                    <div class="portions-slider-label" style="left: 71.4%">
                        <span> </span>6
                     </div>
                    <div class="portions-slider-label" style="left: 85.7%">
                        <span> </span>7
                     </div>
                    <div class="portions-slider-label" style="left: 100%">
                        <span> </span>8
                     </div>
                </div>
                <div id="portions-slider"> </div>
                <div class="clear-div"> </div>
            </div>
            <input id="custom-portions-input" type="text" value="{{ recipe.portions }}"/>
        </div>
    </div>
    
    <div id="basic-info">
    <p>Soort maaltijd: {{ recipe.get_course_display }}</p>
    <p>Keuken: {{ recipe.cuisine }}</p>
    <div id="veganism">
    	<img {% if recipe.veganism == 2 %}class="active"{% endif %} src="{{ STATIC_URL }}img/vegan.png" />
    	<img {% if recipe.veganism == 1 %}class="active"{% endif %} src="{{ STATIC_URL }}img/vegetarian.png" />
    	<img {% if recipe.veganism == 0 %}class="active"{% endif %} src="{{ STATIC_URL }}img/non-vegetarian.png" />
    	<div>Dit is een {{ recipe.get_veganism_display|lower }} recept</div>
    </div>
    
	<p>Totale voetafdruk: <span id="total-footprint">{{ recipe.footprint|floatformat:"3" }}</span> kgCO2 ({{ recipe.footprint_pp|floatformat:"3" }} kgCO2 pp.)</p>
    
    <strong>Beschrijving</strong>
    <p>{{ recipe.description|linebreaks }}</p>
    
    </div>
    
    <div class="clear-div"> </div>
    
    <div class="recipe-info-wrapper">
    	<h2><span style="position:relative;">Ingredienten<div id="ingredients-loader" style="position:absolute;top:2px;right:-55px;height:50px;display:none;">{% include "includes/ajax-loader.html" %}</div></span></h2>
    	
    	<div id="ingredients">
			{% include "recipes/ingredient_list.html" %}
		</div>
        {% if recipe.extra_info %}
        <div id="extra-info">
            <strong>Extra Info/Benodigdheden:</strong><br />
            {{ recipe.extra_info|linebreaks }}
        </div>
        {% endif %}
    </div>
    
    <div class="recipe-info-wrapper">
        <h2>Bereidingswijze</h2>
        <div id="instructions">
    	   <div id="instructions-warning">
                Opgelet! De onderstaande instructies zijn opgesteld voor {{ recipe.portions }} porties. U hebt het aantal porties aangepast, waardoor het mogelijk
                is dat deze instructies niet meer volledig accuraat zijn. Houdt hier rekening mee.
            </div>
            {{ recipe.instructions|linebreaks }}
    	</div>	
    </div>
</div>

<div id="give-comment">
    <h2>Geef een reactie op dit recept:</h2>
	<br>
	{% if user.is_authenticated %}
    	<div id="new-comment" class="comment">
            <div class="commenter-img">
                <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="De avatar van {{ user.get_full_name }}"/>
            </div>
            <div class="comment-content">
                <div class="commenter"><a href="/profile/{{ user.id }}/">{{ user.get_full_name }}</a> zegt:</div>
                <div class="comment-body">
                    {% get_comment_form for recipe as form %}
                    <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ form.comment }}
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <br><input type="submit" value="Voeg Reactie Toe" id="id_submit" />
                    </form>
                </div>
            </div>
            <div class="clear-div"> </div>
        </div>
	    
	    <div class="clear-div"> </div>
	{% else %}
	    <p><a href="{% url 'login' %}?next={{ request.path  }}">Meld je aan</a> om een reactie te geven.</p>
	{% endif %}
</div>
<h2>Reacties op dit recept:</h2>
<div id="comment-list">
	{% get_comment_list for recipe as comment_list %}
	{% for comment in comment_list %}
    <div id="comment-{{ forloop.counter }}" class="comment">
        <div class="commenter-img">
            <img src="{{ MEDIA_URL }}{{ comment.user.avatar }}" alt="De avatar van {{ comment.user.get_full_name }}"/>
        </div>
        <div class="comment-content">
            <div class="commenter"><a href="/profile/{{ comment.user.id }}/">{{ comment.user.get_full_name }}</a> zegt:</div>
            <div class="comment-submit-date"><a href="#comment-{{ forloop.counter }}">{{ comment.submit_date|date:"j F Y, G" }}u{{ comment.submit_date|date:"i" }}</a></div>
            {% if comment.user == user %}<div class="comment-delete"><a href="/recipes/deletecomment/{{ recipe.id }}/{{ comment.id }}/">Verwijder Reactie</a></div>{% endif %}
            <div class="comment-body">
                {{ comment.comment }}
            </div>
        </div>
        <div class="clear-div"> </div>
    </div>
    {% empty %}
    <div id="no-comments">
        Dit recept heeft nog geen reacties gekregen...
    </div>
	{% endfor %}
</div>

{% endblock %}
