{% extends "base.html" %}
{% load comments %}

{% block page_name %}{{ recipe.name }}{% endblock %}

{% block content %}

<a href="/recipes/edit/{{ recipe.id }}/">Wijzigen</a><br/><br/>

<p>Auteur: <a href="/profile/{{ user.id }}/">{{ recipe.author.get_full_name }}</a></p>
<p>Tijdstip toegevoegd: {{ recipe.time_added }}</p>
<p><img src="{{ MEDIA_URL }}{{ recipe.image }}"/></p>
<p>Soort maaltijd: {{ recipe.get_course_display }}</p>
<p>Keuken: {{ recipe.cuisine }}</p>
<p>Veganisme: {{ recipe.get_veganism_display }}</p>
<p>Beschrijving: {{ recipe.description }}</p>

<p>
  <a href="/recipes/{{ recipe.id }}/portions/1/">1</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/2/">2</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/3/">3</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/4/">4</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/5/">5</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/6/">6</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/7/">7</a> | 
  <a href="/recipes/{{ recipe.id }}/portions/8/">8</a>
</p>
<p>
	Rating: {% if recipe.rating %}{{ recipe.rating }} ({{ recipe.number_of_votes }} stem{% if recipe.number_of_votes > 1 %}men{% endif %}){% else %}Dit recept heeft nog geen rating{% endif %}<br>
	Jouw Rating: 
	{% if not user.is_authenticated %}
		<a href="{% url 'login' %}?next={{ request.path  }}">Meld je aan</a> om een rating te geven aan dit recept
	{% else %}
		<a href="/recipes/vote/{{ recipe.id }}/0/" {% ifequal user_vote.score 0 %}class="current-vote" style="font-weight: bold"{% endifequal %}>0</a>
		<a href="/recipes/vote/{{ recipe.id }}/1/" {% ifequal user_vote.score 1 %}class="current-vote" style="font-weight: bold"{% endifequal %}>1</a>
		<a href="/recipes/vote/{{ recipe.id }}/2/" {% ifequal user_vote.score 2 %}class="current-vote" style="font-weight: bold"{% endifequal %}>2</a>
		<a href="/recipes/vote/{{ recipe.id }}/3/" {% ifequal user_vote.score 3 %}class="current-vote" style="font-weight: bold"{% endifequal %}>3</a>
		<a href="/recipes/vote/{{ recipe.id }}/4/" {% ifequal user_vote.score 4 %}class="current-vote" style="font-weight: bold"{% endifequal %}>4</a>
		<a href="/recipes/vote/{{ recipe.id }}/5/" {% ifequal user_vote.score 5 %}class="current-vote" style="font-weight: bold"{% endifequal %}>5</a>
		{% if user_vote %}<a href="/recipes/removevote/{{ recipe.id }}/">Remove your vote</a>{% endif %}
{% endif %}
</p>
<p>Porties: {{ recipe.portions }}</p>
<p>Actieve tijd: {{ recipe.active_time }}</p>
<p>Passieve tijd: {{ recipe.passive_time }}</p>
<p>Extra Info: {{ recipe.extra_info }}</p>
<p>Totale voetafdruk: {{ recipe.footprint }} kgCO2 ({{ recipe.footprint_pp }} pp.)</p>

<p>
	Ingredienten:<br>
	{% for uses in usess %}
		<a href="/ingredients/{{ uses.ingredient.id }}/">{{ uses.ingredient.name }}</a> - {{ uses.amount }} {{ uses.unit.short_name}} ({{ uses.ingredient.footprint }} kgCO2/{{ uses.ingredient.primary_unit.unit.short_name }} -> {{ uses.footprint }} kgCO2)<br>
		{% for avail in uses.ingredient.available_in_country.all %}
		--- Kan komen van {{ avail.country.name }} met transportmethode: {{ avail.transport_method.name }} tussen {{ avail.month_from }} en {{ avail.month_until }} (Uitstoot van deze optie: {{ avail.footprint }} kgCO2/{{ uses.ingredient.primary_unit.unit.short_name }})<br>
		{% endfor %}
	{% endfor %}
</p>

<p>Bereidingswijze:
	<br>
	{{ recipe.instructions }}	
</p>

<div id="give-comment">
    <h2>Geef een reactie op dit recept:</h2>
	<br>
	{% if user.is_authenticated %}
    	<div id="new-comment" class="comment">
            <div class="commenter-img">
                <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="De avatar van {{ user.get_full_name }}"/>
            </div>
            <div class="comment-content">
                <div class="commenter"><a href="/profile/{{ user.id }}/">{{ user.get_full_name }}</a> zegt:</div>
                <div class="comment-body">
                    {% get_comment_form for recipe as form %}
                    <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ form.comment }}
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <br><input type="submit" value="Voeg Reactie Toe" id="id_submit" />
                    </form>
                </div>
            </div>
            <div class="clear-div"> </div>
        </div>
	    
	    <div class="clear-div"> </div>
	{% else %}
	    <p><a href="{% url 'login' %}?next={{ request.path  }}">Meld je aan</a> om een reactie te geven.</p>
	{% endif %}
</div>
<h2>Reacties op dit recept:</h2>
<div id="comment-list">
	{% get_comment_list for recipe as comment_list %}
	{% for comment in comment_list %}
    <div id="comment-{{ forloop.counter }}" class="comment">
        <div class="commenter-img">
            <img src="{{ MEDIA_URL }}{{ comment.user.avatar }}" alt="De avatar van {{ comment.user.get_full_name }}"/>
        </div>
        <div class="comment-content">
            <div class="commenter"><a href="/profile/{{ comment.user.id }}/">{{ comment.user.get_full_name }}</a> zegt:</div>
            <div class="comment-submit-date"><a href="#comment-{{ forloop.counter }}">{{ comment.submit_date|date:"j F Y, G" }}u{{ comment.submit_date|date:"i" }}</a></div>
            {% if comment.user == user %}<div class="comment-delete"><a href="/recipes/deletecomment/{{ recipe.id }}/{{ comment.id }}/">Verwijder Reactie</a></div>{% endif %}
            <div class="comment-body">
                {{ comment.comment }}
            </div>
        </div>
        <div class="clear-div"> </div>
    </div>
    {% empty %}
    <div id="no-comments">
        Dit recept heeft nog geen reacties gekregen...
    </div>
	{% endfor %}
</div>

{% endblock %}
