{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/edit_ingredient.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}js/formset.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/veg_ingredients.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1>Ingredient {% if ingredient %}Aanpassen{% else %}Toevoegen{% endif %}</h1>

<form action="" method="post">
	{% csrf_token %}
	{{ ingredient_form.non_field_errors }}
	{{ synonym_formset.non_field_errors }}
	{{ canuseunit_formset.non_field_errors }}
	<fieldset>
		<legend>Basisinformatie</legend>
		<div class="field-group">
			{{ synonym_formset.management_form }}
			<table>
				<tr>
					<td><label>{{ ingredient_form.name.label }}</label></td>
					<td><label>{{ ingredient_form.plural_name.label }}</label></td>
					<td class="delete">Verwijder</td>
				</tr>
				<tr>
					<td>{{ ingredient_form.name.errors }}
						{{ ingredient_form.name }}</td>
					<td>{{ ingredient_form.plural_name.errors }}
						{{ ingredient_form.plural_name }}</td>
					<td class="delete"></td>
				</tr>
				{% for form in synonym_formset %}
				<tr class="synonym_set-form">
					{{ form.id }}
					<td>{{ form.name.errors }}
						{{ form.name }}</td>
					<td>{{ form.plural_name.errors }}
						{{ form.plural_name }}</td>
					<td class="delete">{{ form.DELETE }}</td>
				</tr>
				{% endfor %}
				<tr class="empty synonym_set-form">
					<td>
						{{ synonym_formset.empty_form.name }}
					</td>
					<td>
						{{ synonym_formset.empty_form.plural_name }}
					</td>
					<td class="delete">
						{{ synonym_formset.empty_form.DELETE }}
					</td>
				</tr>
				<tr>
					<td><a href="#" id="synonym_set-addbtn"><img src="http://us.cdn1.123rf.com/168nwm/djordjer/djordjer1103/djordjer110300027/9107139-plus-chrome-button.jpg"></a></td>
				</tr>
			</table>
		</div>

		<div class="field-group">
			{{ ingredient_form.type.errors }}
			<div class="field">
				<label>{{ ingredient_form.type.label }}</label> {{ ingredient_form.type }}
			</div>
			{{ ingredient_form.category.errors }}
			<div class="field">
				<label>{{ ingredient_form.category.label }}</label> {{ ingredient_form.category }}
			</div>
			{{ ingredient_form.veganism.errors }}
			<div class="field">
				<label>{{ ingredient_form.veganism.label }}</label> {{ ingredient_form.veganism }}
			</div>
		</div>

		<div class="field-group">
			<div class="vertical-fields">
				<label>{{ ingredient_form.description.label }}</label><br/>
				{{ ingredient_form.description.errors }}
				{{ ingredient_form.description }}
			</div>
			<div class="vertical-fields">
				<label>{{ ingredient_form.conservation_tip.label }}</label></br>
				{{ ingredient_form.conservation_tip.errors }}
				{{ ingredient_form.conservation_tip }}
			</div>
		</div>
		<div class="field-group">
			<div class="vertical-fields">
				<label>{{ ingredient_form.preparation_tip.label }}</label></br>
				{{ ingredient_form.preparation_tip.errors }}
				{{ ingredient_form.preparation_tip }}
			</div>
			<div class="vertical-fields">
				<label>{{ ingredient_form.properties.label }}</label></br>
				{{ ingredient_form.properties.errors }}
				{{ ingredient_form.properties }}
			</div>
		</div>
		<div class="field-group">
			<div id="sources-field" class="vertical-fields">
				<label>{{ ingredient_form.source.label }}</label></br>
				{{ ingredient_form.source.errors }}
				{{ ingredient_form.source }}
			</div>
		</div>

		<div class="field-group">
			{{ ingredient_form.base_footprint.errors }}
			<div class="field">
				<label>{{ ingredient_form.base_footprint.label }}</label> {{ ingredient_form.base_footprint }} kgCO2/primaire_eenheid
			</div>
	
			{{ ingredient_form.image.errors }}
			<img id="ing-image" src="{{ MEDIA_URL}}{{ ingredient_form.image.value }}"/>
			<div class="field">
				<label>{{ ingredient_form.image.label }}</label> <input id="id_image" type="file" name="image">
			</div>
		</div>
		
	</fieldset>
	
	<fieldset>
		<legend>Bruikbare Eenheden</legend>
		<div id="can_use_unit-group" class="field-group">
			{{ canuseunit_formset.management_form }}
			<table>
			{% for form in canuseunit_formset %}
				{% if forloop.first %}
					<tr>
						<td>
							<label>{{ form.unit.label }}</label>
						</td>
						<td>
							<label>{{ form.conversion_factor.label }}</label>
						</td>
						<td>
							<label>{{ form.is_primary_unit.label }}</label>
						</td>
						<td>
							Verwijderen
						</td>
					</tr>
				{% endif %}
				<tr class="can_use_unit-form">
					{{ form.id }}
					<td>{{ form.unit.errors }}
						{{ form.unit }}</td>
					<td>{{ form.conversion_factor.errors }}
						{{ form.conversion_factor }}</td>
					<td class="checkbox">{{ form.is_primary_unit.errors }}
						{{ form.is_primary_unit }}</td>
					<td class="delete">{{ form.DELETE }}</td>
				</tr>
			{% endfor %}
				<tr class="empty can_use_unit-form">
					<td>
						{{ canuseunit_formset.empty_form.unit }}
					</td>
					<td>
						{{ canuseunit_formset.empty_form.conversion_factor }}
					</td>
					<td class="checkbox">
						{{ canuseunit_formset.empty_form.is_primary_unit }}
					</td>
					<td class="delete">
						{{ canuseunit_formset.empty_form.DELETE }}
					</td>
				</tr>
				<tr>
					<td><a href="#" id="can_use_unit-addbtn"><img src="http://us.cdn1.123rf.com/168nwm/djordjer/djordjer1103/djordjer110300027/9107139-plus-chrome-button.jpg"></a></td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	<fieldset class="VE-fieldset">
		<legend>Eigenschappen voor Seizoensgebonden Ingredienten</legend>
		<div class="field-group">
			<div class="field">
				{{ vegingredient_form.preservability.errors }}
				<label>{{ vegingredient_form.preservability.label }}</label> {{ vegingredient_form.preservability }} maanden
			</div>
			<div class="field">
				{{ vegingredient_form.preservation_footprint.errors }}
				<label>{{ vegingredient_form.preservation_footprint.label }}</label> {{ vegingredient_form.preservation_footprint }} kgCO2/primaire_eenheid
			</div>
		</div>
	</fieldset>
	
	<fieldset class="VE-fieldset">
		<legend>Beschikbaarheidsdata</legend>
		<div id="available_in_country-group" class="field-group">
			{{ availinc_formset.management_form }}
			<table>
			{% for form in availinc_formset %}
				{% if forloop.first %}
					<tr>
						<td>
							<label>{{ form.country.label }}</label>
						</td>
						<td>
							<label>{{ form.transport_method.label }}</label>
						</td>
						<td>
							<label>{{ form.production_type.label }}</label>
						</td>
						<td>
							<label>{{ form.extra_production_footprint.label }}</label>
						</td>
						<td class="date">
							<label>{{ form.date_from.label }} (2000-mm-dd)</label>
						</td>
						<td class="date">
							<label>{{ form.date_until.label }} (2000-mm-dd)</label>
						</td>
						<td>
							Verwijderen
						</td>
					</tr>
				{% endif %}
				<tr class="available_in_country-form">
					{{ form.id }}
					<td>{{ form.country.errors }}
						{{ form.country }}</td>
					<td>{{ form.transport_method.errors }}
						{{ form.transport_method }}</td>
					<td>{{ form.production_type.errors }}
						{{ form.production_type }}</td>
					<td>{{ form.extra_production_footprint.errors }}
						{{ form.extra_production_footprint }}</td>
					<td class="date">{{ form.date_from.errors }}
						{{ form.date_from }}</td>
					<td class="date">{{ form.date_until.errors }}
						{{ form.date_until }}</td>
					<td class="delete">{{ form.DELETE }}</td>
				</tr>
			{% endfor %}
				<tr class="empty available_in_country-form">
					<td>
						{{ availinc_formset.empty_form.country }}
					</td>
					<td>
						{{ availinc_formset.empty_form.transport_method }}
					</td>
					<td>
						{{ availinc_formset.empty_form.production_type }}
					</td>
					<td>
						{{ availinc_formset.empty_form.extra_production_footprint }}
					</td>
					<td class="date">
						{{ availinc_formset.empty_form.date_from }}
					</td>
					<td class="date">
						{{ availinc_formset.empty_form.date_until }}
					</td>
					<td class="delete">
						{{ availinc_formset.empty_form.DELETE }}
					</td>
				</tr>
				<tr>
					<td><a href="#" id="available_in_country-addbtn"><img src="http://us.cdn1.123rf.com/168nwm/djordjer/djordjer1103/djordjer110300027/9107139-plus-chrome-button.jpg"></a></td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	<fieldset class="FI-fieldset">
		<legend>Beschikbaarheidsdata</legend>
		<div id="available_in_sea-group" class="field-group">
			{{ availins_formset.management_form }}
			<table>
			{% for form in availins_formset %}
				{% if forloop.first %}
					<tr>
						<td>
							<label>{{ form.sea.label }}</label>
						</td>
						<td>
							<label>{{ form.transport_method.label }}</label>
						</td>
						<td class="date">
							<label>{{ form.date_from.label }} (2000-mm-dd)</label>
						</td>
						<td class="date">
							<label>{{ form.date_until.label }} (2000-mm-dd)</label>
						</td>
						<td>
							Verwijderen
						</td>
					</tr>
				{% endif %}
				<tr class="available_in_sea-form">
					{{ form.id }}
					<td>{{ form.sea.errors }}
						{{ form.sea }}</td>
					<td>{{ form.transport_method.errors }}
						{{ form.transport_method }}</td>
					<td class="date">{{ form.date_from.errors }}
						{{ form.date_from }}</td>
					<td class="date">{{ form.date_until.errors }}
						{{ form.date_until }}</td>
					<td class="delete">{{ form.DELETE }}</td>
				</tr>
			{% endfor %}
				<tr class="empty available_in_sea-form">
					<td>
						{{ availins_formset.empty_form.sea }}
					</td>
					<td>
						{{ availins_formset.empty_form.transport_method }}
					</td>
					<td class="date">
						{{ availins_formset.empty_form.date_from }}
					</td>
					<td class="date">
						{{ availins_formset.empty_form.date_until }}
					</td>
					<td class="delete">
						{{ availins_formset.empty_form.DELETE }}
					</td>
				</tr>
				<tr>
					<td><a href="#" id="available_in_sea-addbtn"><img src="http://us.cdn1.123rf.com/168nwm/djordjer/djordjer1103/djordjer110300027/9107139-plus-chrome-button.jpg"></a></td>
				</tr>
			</table>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="field-group">
			<div class="field">
				{{ ingredient_form.accepted.errors }}
				<label>{{ ingredient_form.accepted.label }}</label> {{ ingredient_form.accepted }}
			</div>
		</div>
	</fieldset>
	
	<input id="submit-btn" type="submit" value="{% if ingredient %}Aanpassen{% else %}Toevoegen{% endif %}" />
</form>

{% endblock %}

