{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/homepage.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/progress.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<a href="/ingredients/add/">Nieuw Ingredient</a><br/><br/><br/>

<h3>Vooruitgang:</h3>
<div class="meter">
	<span style="width: 25%"></span>
</div>

{% for ingredient in ingredients %}
	
	{% if ingredient.accepted %}<img src="http://suvendugiri.files.wordpress.com/2012/02/checkbox.png" width="10px" height="10px" />{% endif %}
	<a href="/ingredients/{{ ingredient.id }}/">{{ ingredient.name }}</a><br/>

{% endfor %}

{% endblock %}
