{% extends "base.html" %}

{% block title %}Ingredienten{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.css" />
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/paging.js"></script>
{% endblock %}

{% block ingredients-active %}active{% endblock %}

{% block content %}

<div id="ingredient-search-container">
	<p>
		Hier kan je onze uitgebreide ingredientendatabase raadplegen. Je kan met het onderstaande veld naar specifieke ingredienten zoeken, of gewoon
		wat rondkijken. Als je op een ingredient klikt, verschijnt er meer informatie
	</p>
	
	<form target="" method="post">
		{% csrf_token %}
		
		<div id="basic-search">
			{{ form.name }}
			<button id="keywords-submit" class="nochrome" type="submit">
				<span class="submit-icon"> </span>
			</button>
		</div>
	</form>
	
	
	<div id="ingredient-summaries-wrapper" class="summaries-wrapper">
	   {% include "includes/ingredient_summaries.html" %}
	</div>

</div>
{% endblock %}
