{% extends "base.html" %}

{% block title %}Ingredienten{% endblock %}

{% block ingredients-active %}active{% endblock %}

{% block content %}

<p>
    <strong>Namen:</strong> {{ ingredient.name }}{% if ingredient.plural_name %} ({{ ingredient.plural_name }}){% endif %}{% for syn in ingredient.synonyms %}, {{ syn.name }} ({{ syn.plural_name }}){% endfor %}
</p>
<strong>Categorie:</strong> {{ ingredient.get_category_display }}
</p>
<p>
<strong>Veganisme:</strong> {{ ingredient.get_veganism_display }}
</p>
<p>
    <strong>Thumbnail:</strong> <img src="{{ ingredient.image.url }}">
</p>
<p>
<p>
<strong>Beschrijving:</strong><br />
{{ ingredient.description|linebreaksbr }}
</p>
<p>
<strong>Bewaringstip:</strong><br />
{{ ingredient.conservation_tip|linebreaksbr }}
</p>
<p>
<strong>Bereidingstip:</strong><br />
{{ ingredient.preparation_tip|linebreaksbr }}
</p>
<p>
<strong>Speciale Eigenschappen:</strong><br />
{{ ingredient.properties|linebreaksbr }}
</p>
<p>
<strong>Bruikbare eenheden:</strong><br>
<ul>
    {% for useable_unit in useable_units %}
    <li>{{ useable_unit.name }} (Conversiefactor={{ useable_unit.conversion_factor }})</li>
    {% endfor %}
</ul>
</p>
<p>
<strong>Basis voetafdruk:</strong> {{ ingredient.base_footprint }} kgCO2/{{ primary_unit.unit.short }}
</p>
{% if ingredient.type == 1 or ingredient.type == 2 %}
<p>
<strong>Bewaarbaarheid:</strong> {{ ingredient.preservability }} dagen
</p>
<p>
<strong>Uitstoot tijdens bewaring:</strong> {{ ingredient.preservation_footprint }} kgCO2/dag
</p>
<p>
<strong>Beschikbaar in:</strong> <br>
<ul>
    {% for available_in in available_ins %}
    <li>
        Dit ingredient is beschikbaar in {{ available_in.country.name }} ({{ available_in.country.distance }} km van Belgie) tussen {{ available_in.month_from }} en {{ available_in.month_until }}<br>
        Het wordt vervoerd via {{ available_in.transport_method.name }}<br>
        {% if available_in.production_type %}Het wordt geproduceerd adhv. {{ available_in.production_type }}<br>{% endif %}
        Een ingredient van deze optie heeft een uitstoot van {{ available_in.footprint }}<br>
    </li>
    {% endfor %}
</ul>
</p>
<p>
<strong>Geaccepteerd:</strong> {{ ingredient.accepted }}
</p>
<p>
<strong>Bronnen:</strong><br />
{{ ingredient.source|linebreaksbr }}
</p>

{% endif %}

{% endblock %}
