{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/homepage.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
{% if user.is_superuser %}<p><a href="/ingredients/edit/{{ ingredient.pk }}/">Ingredient Aanpassen</a><br/>{% endif %}

Namen: {{ ingredient.name }}{% if ingredient.plural_name %} ({{ ingredient.plural_name }}){% endif %}{% for syn in ingredient.synonyms %}, {{ syn.name }} ({{ syn.plural_name }}){% endfor %}
<br>
Thumbnail: <img src="{{ ingredient.image.url }}">
<br>
Beschrijving: {{ ingredient.description }}
<br>
Categorie: {{ ingredient.get_category_display }}
<br>
Veganisme: {{ ingredient.get_veganism_display }}
<br>
Beschrijving: {{ ingredient.description }}
<br>
Bewaringstip: {{ ingredient.conservation_tip }}
<br>
Bereidingstip: {{ ingredient.preparation_tip }}
<br>
Speciale Eigenschappen: {{ ingredient.properties }}
<br>
Basis voetafdruk: {{ ingredient.base_footprint }} kgCO2/{{ ingredient.primary_unit.unit.short }}
<br>
Bronnen: {{ ingredient.source }}
<br>
Geaccepteerd: {{ ingredient.accepted }}
<br>
Bruikbare eenheden: <br>
{% for can_use_unit in ingredient.units %}
---{{ can_use_unit.unit.name }}: Conversiefactor={{ can_use_unit.conversion_factor }}<br>
{% endfor %}
<br>
{% if ingredient.type == 'Veggie' or ingredient.type == 'Fish' %}
Bijkomende informatie voor Veggie ingredienten:
<br>
Bewaarbaarheid: {{ ingredient.vegetal_ingredient.preservability }}
<br>
Uitstoot tijdens bewaring: {{ ingredient.vegetal_ingredient.preservation_footprint }}
<br>
<br>
Beschikbaar in: <br>
{% for available_in in ingredient.available_in_c %}
&nbsp;-&nbsp;Dit ingredient is beschikbaar in {{ available_in.country.name }} ({{ available_in.country.distance }} km van Belgie) tussen {{ available_in.month_from }} en {{ available_in.month_until }}<br>
&nbsp;&nbsp;&nbsp;Het wordt vervoerd via {{ available_in.transport_method.name }}<br>
&nbsp;{% if available_in.production_type %}Het wordt geproduceerd adhv. {{ available_in.production_type }}<br>{% endif %}
&nbsp;Een ingredient van deze optie heeft een extra uitstoot van {{ available_in.extra_footprint }}<br>
{% endfor %}
<br>

{% endif %}

{% endblock %}
