/*
 * Seasoning Color Scheme:
 * 
 * Gray:  #ac0, #AAAAAA: Timebar
 *        #5B6553: Main text color, dark borders
 *        #2F2F2F: footer bg color
 * 
 * Green: #F4FAEF: Very light text with a hint of green
 *        #D5EBC1: Light green accents (borders, inactive elements)
 *        #A0D373: Alternative light green (introbox gradient, footer links hover)
 *        #76BA3B: Hoofdkleur, lichtste kleur in header gradient, donkerste kleur in introbox gradient,
 * 				   standerd link:hover kleur, kleur van de subnavigatie links, kleur van account settings links,
 * 				   kleur van comment links (commenter en comment-time),
 *                 Kleur van actieve slideshow control, kleur van een actieve social connection p
 *        #598c2c: Hoverkleur van hoofdnavigatie, hoverkleur van subnav, hoverkleur van slideshow controls,
 *                 hoverkleur van account settings links, hoverkleur van links in comments
 *        #1E2F0F: Image darkener
 * 
 */


/*
 * General Elements
 */
html {
	overflow-y:scroll;
	height:100%;
	font-size: 100%;
}

body {
	margin: 0;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 1em;
	color:#5B6553;
	height:100%;
}

h1 {
	margin:0;
	font-size:1.5em;
	font-family:Lobster, Verdana, Geneva, sans-serif;
}

h2 {
	margin:0;
	font-size:1.2em;
	font-family:Lobster, Verdana, Geneva, sans-serif;
}

a {
	color:#5B6553;
	transition:all .3s ease-out;
}

a:hover {
	color:#76BA3B;
}

form label {
	display: block;
	float: left;
	width: 130px;
	line-height: 23px;
}

form input[type=text],input[type=password] {
	margin: 0;
	width: 50%;
	float: right;
	clear: none;
}

form select {
	margin: 0;
	width: 51%;
	float: right;
	clear: none;
}

form textarea {
	max-width: 450px;
	height: 50px;
	float: right;
}

form input[type=submit] {
	margin-top: 5px;
	width: 150px; 	
	float: right;
	clear: both;
}


/*
 * Standard Elements
 */
.clear-div {
	clear: both;
	float: none;
}

form .empty {
	display: none;
}

form .errorlist {
	clear: both;
	font-size: .75em;
	list-style: none;
	float: right;
	color: red;
	padding: 0;
	margin: 5px 0 15px 0;
}

form .spacer {
	height: 10px;
	clear: both;
}

form .field-wrapper {
	min-height: 25px;
	margin-bottom: 10px;
	clear: both;
}

form .tooltip {
	display: none;
}

#id_honeypot {
	display: none;
}



/*
 * Skeleton Page CSS
 */

#container {
   min-height:100%;
   position:relative;
}

#header {
	height:65px;
	min-width: 660px;
	background-color:#76BA3B;
	background-image:linear-gradient(to top,#629B31 0%,#76BA3B 94%);
	border-bottom:1px solid #5B6553;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	z-index:4;
	position:relative;
}

#header #nav-container {
	max-width:960px;
	min-width: 640px;
	height:100%;
	position:relative;
	margin:auto;
	padding:0 10px;
}

#nav-container ul {
	list-style:none;
	position:absolute;
	padding:0;
	margin:0;
}

#nav-container li {
	display:inline-block;
	padding-right: 15px;
}

#nav-container a {
	text-decoration:none;
	color:#F4FAEF;
}

#nav-container a:hover {
	color:#598c2c;
}

#nav-container #main-nav {
	bottom:5px;
}

#nav-container #main-nav li {
	padding-right:20px;
}

#nav-container #main-nav li a {
	font-weight:700;
}

#nav-container #account-controls {
	bottom:5px;
	right:10px;
}

#account-controls #account-settings-link {
	font-weight: 600;
	padding-right: 20px;
}

#account-settings-link a {
	position: relative;
}

#account-controls #account-settings-link #img-darkener {
	background: #1E2F0F;
	position: absolute;
	left: -35px;
	bottom: -2px;
}

#account-controls #account-settings-link img {
	height: 30px;
	width: 30px;
	background: white;
	transition:all .3s ease-out;
}

#account-controls #account-settings-link:hover img {
	opacity: .5;
	transition:all .3s ease-out;
}

#nav-container .sub-nav {
	bottom: -25px;
	left: 400px;
	opacity: 0;
	transition:all .3s ease-out;
}

#nav-container .sub-nav.active {
	opacity: 1;
	left: 10px;
	transition:all .3s ease-out;
}

#nav-container .sub-nav li a {
	color:#76BA3B;
}

#nav-container .sub-nav li a:hover {
	color:#598c2c;
}

#body {
	padding-bottom: 50px;
}

#body .messages {
	list-style: none;
	padding: 5px;
	margin: 0 0 20px 0;
	background-color: rgba(98, 155, 49, 0.5);
	border:1px dashed #5B6553;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
}

#body .messages li {
	opacity: 1;
}

#footer-clearer {
	clear: both;
	height: 20px;
	padding-bottom: 50px;
}

#footer {
	display: block;
	height: 50px;
	min-width: 660px;
	width: 100%;
	border-top:1px solid #5B6553;
	position: relative;
	background-color: #2F2F2F;
	background-image: url("/static/img/bg.jpg");
	position: absolute;
	bottom: 0px;
	box-shadow:0 -2px 2px 0 rgba(0,0,0,0.3);
}

#footer #footer-container {
	max-width:960px;
	min-width: 640px;
	margin: auto;
	padding: 5px 0;
	color:#F4FAEF;
	position: relative;
}

#footer-container #cc-license {
	position: absolute;
	left: 0;
	top: 10px;
	margin-left: 10px;
}

#footer-container #footer-links-container {
	margin: 0;
	padding: 0 110px 0 110px;
	overflow: hidden;
	text-align: center;
}

#footer-links-container #footer-links {
	display: inline-block;
	height: 40px;
	overflow: hidden;
}

#footer-container ul {
	margin: 0;
	padding: 0;
	line-height: 40px;
}

#footer-container ul li {
	float: left;
	list-style: disc outside none;
	margin-left: 1.8em;
	font-size: .7em;
}

#footer-container ul li.first {
	list-style: none;
	margin-left: 0;
}

#footer-container a {
	color: #F4FAEF;
	text-decoration: none;
}

#footer-container a:hover {
	color: #A0D373;
}

#footer-container #social-network-links {
	position: absolute;
	top: 10px;
	right: 0;
	margin-right: 10px;
}

#footer-container #social-network-links a {
	margin-left: 0px;
	display: inline-block;
}

#footer-container img.social-logo {
	width: 30px;
 	border-radius: 5px;
}






/*
 * Homepage CSS
 */

#introbox {
	height:300px;
	min-width: 660px;
	background-color:#A0D373;
	background-image:linear-gradient(to top,#A0D373,#76BA3B);
	box-shadow:3px -3px 7px rgba(0,0,0,0.1) inset;
	z-index:1;
	position:relative;
	padding-top: 20px;
}

#introbox h1 {
	font-size: 2.2em;
	width:400px;
	color:#F4FAEF;
}

#introbox #introbox-container {
	max-width:960px;
	min-width: 640px;
	height:270px;
	margin:auto;
	padding:30px 10px 0 10px;
	position: relative;
	overflow: hidden;
}

#introbox #introbox-loader {
	padding-top:100px;
}

#introbox-container #slideshow {
	list-style:none outside none;
	margin:0;
	padding:0;
}

#introbox-container #slideshow .slide {
	display:none;
}

#introbox-container #slideshow .slide .slide-content {
	float: left;
}

#introbox-container #slideshow .slide .slide-content p {
	color:#F4FAEF;
	font-size:12px;
	line-height:18px;
	width:300px;
	margin-top:10px;
}

#introbox-container #slideshow .slide .slide-image {
	position: relative;
}

#introbox-container #slideshow .slide img {
	position: absolute;
	height:300px;
	top: -30px;
}

#introbox-container #slideshow-controls {
	position:absolute;
	bottom:16px;
	display:None;
}

#introbox-container #slideshow-controls ul {
	list-style:none outside none;
	margin:0 0 0 5px;
	padding:0;
}

#introbox-container #slideshow-controls ul li {
	display:inline-block;
	padding-right:10px;
}

#introbox-container #slideshow-controls ul li a {
	width:10px;
	height:10px;
	display:block;
	border-radius:50px 50px 50px 50px;
	background-color:#D5EBC1;
}

#introbox-container #slideshow-controls ul li a.active {
	background-color:#76BA3B;
}

#introbox-container #slideshow-controls ul li a:hover {
	background-color:#598c2c;
}

#content .homepage-column {
	width: 300px;
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
}

#content .homepage-column img {
	width: 100px;
	margin: auto;
	display: block;
}

#content #homepage-left-column {
}

#content #homepage-middle-column {
	margin-left: 29px;
}

#content #homepage-right-column {
	margin-left: 29px;
}





/*
 *   Base styles
 */
#content {
	max-width:960px;
	min-width: 640px;
	margin: 50px auto;
	padding: 0 10px;
}

#content h1 {
	border-bottom: 2px solid #5B6553;
	margin-bottom: 20px;
}




/*
 * Login Page
 */
#seasoning-login {
	width: 45%;
	float: left;
}

#seasoning-login #extra-login-links a {
	display: block;
	font-size: .75em;
	float: right;
	clear: right;
}

#social-login {
	width:45%;
	float: right;
	text-align: center;
	padding-top: 10px;
}

#register {
	clear: both;
	padding-top: 50px;
}



/*
 * Registration Page
 */
#seasoning-register {
	width: 45%;
	float: left;
}

#seasoning-register #captcha-wrapper {
	margin: 10px 0;
	min-height: 130px;
     height:auto !important; 
     height:130px; 
}

#captcha-wrapper #recaptcha_area {
	margin: auto;
}

#captcha-wrapper .errorlist {
	float: none;
	text-align: center;
}

#seasoning-register #terms-wrapper input {
	float: left;
	width: 10px;
	margin: 5px 5px 0 0;
}

#seasoning-register #terms-wrapper label {
	width: 90%;
	float: left;
}

#seasoning-register #registration-submit-button {
	margin: auto;
	width: 250px;
	display: block;
	clear: both;
	text-align: center;
}

#social-register {
	width:45%;
	float: right;
	text-align: center;
	padding-top: 10px;
}

/*
 * Account Settings
 */
#account-settings-container {
	position: relative;
}

#account-settings-container #account-settings {
	width: 65%;
	margin: 0 20px 0 0;
	float: left;
}

#account-settings #id_givenname {
	width: 20%;
	margin-right: 4%;
}

#account-settings #id_surname {
	width: 25%;
}

#account-settings #name_errors {
	float: right;
	clear: right;
	width: 60%;
}

#name_errors #givenname_errors {
	width: 50%;
}

#name_errors #surname_errors {
	width: 49%;
}

#name_errors ul {
	padding: 0;
	margin: 5px 0 15px 0;
}

#account-settings #password_p {
	margin: 0;
	float: right;
	text-align: right;
}

#account-settings img#avatar_img {
	width: 240px;
	float: right;
	margin-bottom: 10px;
}

#account-settings input#id_avatar {
	float: right;
	clear: right;
	text-align: right;
	margin-bottom: 10px;
	width: 300px;
}

#account-settings-container #account-settings-links {
	width: 180px;
	float: right;
	border-left: 1px solid #D5EBC1;
	padding: 35px 0 0 10px;
	position: absolute;
	right: 0;
	top: -20px;
	bottom: 0;
}

#account-settings .social-connection {
	margin-bottom: 20px;
}

#account-settings .social-connection img {
	width: 100px;
	float: left;
	border-radius: 5px;
	margin: 14px 0;
	height: 34px;
}

#account-settings .social-connection p {
	line-height: 20px;
	border-radius: 5px;
	margin: 10px 0 10px 110px;
	padding: 10px 0;
}

#account-settings .social-connection p.active {
	color:#76BA3B;
}

#account-settings-links ul {
	margin: 0;
	padding: 0;
}

#account-settings-links li {
	list-style: none;
	margin-bottom: 10px;
}

#account-settings-links li a {
color:#76BA3B;
text-decoration: none;
}

#account-settings-links li a:hover {
color:#598c2c;
}

#account-settings-links li.active a {
	font-weight: 600;
}

/*
 * Add Recipe Form
 */
#add-recipe-form {
	width: 500px;
}


/*
 * View Recipe
 */
h1 {
	position: relative;
}

h1 #recipe-actions {
	position: absolute;
	right: 0;
	bottom: -5px;
}

#recipe-actions img {
	width: 25px;
	height: 25px;
	opacity: 0.5;
	transition:all .3s ease-out;
}

#recipe-actions img:hover {
	opacity: 1;
}

#below-recipe-name {
	margin: -10px 0 30px 0;
	float: left;
}

#below-recipe-name #recipe-actions {
	float: right;
}

#below-recipe-name #add-info {
	float: left;
}

#add-info #time-added {
	font-size: .75em;
}

#recipe {
	margin-bottom: 50px;
}

#recipe #img-and-basic-user-options {
	float: right;
	width: 40%;
	margin: 0 0 10px 10px;
	background-color: rgba(118, 186, 59, 0.1);
}

#img-and-basic-user-options #recipe-img {
	width: 95%;
	margin: 2.5% 0 0 2.5%;
	border: 2px solid #5B6553;
}

#img-and-basic-user-options > div {
	margin: 10px 0 0 2.5%;
}

#rating #current-rating {
	margin: 10px 0 0 10px;
}

#current-rating #rating-display {
	float: left;
}

#rating #user-rating {
	margin: 10px 0 0 10px;
}

#user-rating #user-rating-display {
	display: inline;
}

#time-needed .timebar {
	width:95%;
    height:16px;
    padding:0px;
    margin: 10px 0 25px 10px;
    
    border-width:1px;
    border-style:solid;
    border-color: #aaa #bbb #fff #bbb;    
    box-shadow:inset 0px 2px 3px #bbb;
    position: relative;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-radius-topright:4px;
    -webkit-border-radius-bottomright:4px;
    -o-border-radius-topright:4px;
    -o-border-radius-bottomright:4px;
}

#time-needed .timebar,.timebar-active,.timebar-passive {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-radius-topleft:4px;
    -webkit-border-radius-bottomleft:4px;
    -o-border-radius-topleft:4px;
    -o-border-radius-bottomleft:4px;
}

.timebar .timebar-active,.timebar-passive {
    height:100%;
    
    background-size:18px 18px;
    background-color: #ac0;   
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
    position: absolute;
    left: 0;
}

.timebar .timebar-passive {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-radius-topleft:0;
    -webkit-border-radius-bottomleft:0;
    -o-border-radius-topleft:0;
    -o-border-radius-bottomleft:0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-radius-topright:4px;
    -webkit-border-radius-bottomright:4px;
    -o-border-radius-topright:4px;
    -o-border-radius-bottomright:4px;
    background-color: #AAAAAA;
    left: auto;
    right: 0;
}

.timebar span {
	position: absolute;
	right: -5%;
	top: 20px;
}

#portions {
	position: relative;
}

#portions #portions-slider-wrapper {
	height: 40px;
    margin: 10px 0 20px 10px;
	width: 70%;
}

#portions #portions-slider {
	top: 20px;
}

#portions #portions-slider-labels {
	width: 99.5%;
	height: 1px;
	margin: 0 0 0 -2px;
	position: relative;
}

#portions-slider-labels .portions-slider-label {
	position: absolute;
}

#portions #custom-portions-input {
	width: 15%;
	position: absolute;
	right: 3%;
	bottom: 0;
	text-align: right;
}

#recipe .recipe-info-wrapper {
	margin-bottom: 30px;
}

#recipe .recipe-info-wrapper>div, .ingredient {
	margin: 0;
	padding: 10px 0 10px 20px;
	text-align: justify;
	line-height: 16px;
}

#recipe #basic-info {
	clear: left;
	width: 53%;
}

#basic-info #veganism img {
	width: 15%;
	opacity: 0.1;
    filter: alpha(opacity=10);
}


#basic-info #veganism img.active {
	opacity: 1;
    filter: alpha(opacity=100);
}

.ingredient.dark-row {
	background-color: rgba(118, 186, 59, 0.1);
}

.ingredient .ingredient-left {
	display: inline-block;
	width: 47%;
	float: left;
}

.ingredient-left .ingredient-name {
	display: inline-block;
}

.ingredient-left .ingredient-amount {
	float: right;
}

.ingredient .ingredient-right {
	display: block;
}

.ingredient-right .ingredient-footprint {
	float: right;
	width: 150px;
	text-align: right;
	margin-left: 10%;
}

.ingredient-right .ingredient-moreinfo-button {
	width: 48px;
	float: right;
}

.ingredient-moreinfo-button img {
	margin: auto;
	display: block;
	width: 16px;
	height: 16px;
}

#recipe .recipe-info-wrapper #extra-info {
	margin-top: 30px;
}

#recipe .recipe-info-wrapper p {
	margin: 0 0 0 10px;
}

#instructions #instructions-warning {
	padding: 5px;
	margin: 0 0 20px 0;
	background-color: rgba(98, 155, 49, 0.5);
	border:1px dashed #5B6553;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
	display: none;
}

#give-comment .comment {
	padding-top: 10px;
	padding-bottom: 30px;
}

.comment textarea {
	width: 99%;
	height: 150px;
}

#comment-list {
	width: 100%;
	margin-top: 20px;
}

#comment-list .comment {
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #D5EBC1;
transition:all .5s ease-out;
}

#comment-list .comment:hover {
	background-color: rgba(118, 186, 59, 0.1);
transition:all .5s ease-out;
}

.comment .commenter-img {
	float: left;
}

.commenter-img img {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border: 2px solid #5B6553;
}

.comment-content {
	margin-left: 140px;
	position: relative;
}

.comment-content .commenter a {
	color: #76BA3B;
	text-decoration: none;
	font-weight: 600;
transition:all .3s ease-out;
}

.comment-content .comment-submit-date a {
	color: #76BA3B;
	text-decoration: none;
	font-size: .75em;
transition:all .3s ease-out;
}

.comment-content a:hover {
color:#598c2c;
transition:all .3s ease-out;
}

.comment-content .comment-delete {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-content .comment-body {
	margin-top: 10px;
	width: 80%;
	text-align: justify;
}
