html {
    overflow-y: scroll;
}

body {
	font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;
	color: #3F5823;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin: 0;
}

a {
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
}

a, a:visited {
    color: #1570A6;
}

p.button {
	font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
    width: 200px;
  	margin: auto;
}

#body-container {
	background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

#header {
	color: #CFCFCF;
    font-weight: 600;
    left: 0;
    min-height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #CFCFCF;
}

#header-main {
	width: 100%;
}

#header-main-background {
	width: 100%;
	background-color: #F7F6F6;
	border-bottom: solid #C0C0C0 1px;
    height: 65px;
    min-width: 225%;
}

#header-main-container {
	margin: -65px auto 0;
    max-width: 998px;
    min-width: 998px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
}

#header-main-left {
	float: left;
    height: 65px;
    width: 280px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#header-logo-container {
	line-height: normal;
    margin-top: 5px;
}

#header-logo-container img {
	float: left;
}

#header-logo-container span {
	color: #066006;
	float: left;
	font-size: 35px;
	margin-top: -3px;
}

#header-main-navigation {
	bottom: 7px;
    font-size: 12px;
    left: 0;
    letter-spacing: 1px;
    line-height: 15px;
    max-width: 541px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

#header-main-navigation a {
	color: #96B566;
	margin-right: 18px;
}

#header-main-navigation a.active {
	text-decoration: underline;
}

#header-main-navigation a:hover {
	color: #668E39;
}

#header-main-right {
	float: right;
    height: 65px;
    width: 200px;
}

#header-sign-in {
	bottom: 7px;
    font-size: 12px;
    line-height: normal;
    width: inherit;
    position: absolute;
    text-align: right;
    word-wrap: break-word;
}

#header-sign-in a {
	color: #96B566;
	margin-left: 18px;
}

#header-sign-in a#header-username {
	color: #3F5823;
	margin-left: 18px;
	font-size: 13px;
}

#header-sign-in a:hover {
	color: #668E39;
}

#header-sign-in a#header-username:hover {
	color: #668E39;
}

#header-sub {
	width: 100%;
}

#header-sub-background {
	width: 100%;
	background-color: #EBEBEB;
	border-bottom: solid #C0C0C0 1px;
    height: 20px;
    min-width: 225%;
    opacity: 0.9;
    z-index: 9;
}

#header-sub-container {
	height: 19px;
    margin: -20px auto 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    width: 998px;
}

.header-sub-navigation {
	font-size: 12px;
    height: 20px;
    line-height: 15px;
    margin-top: 1px;
    padding-top: 0px;
    position: absolute;
    left: 650px;
    opacity: 0;
}

.header-sub-navigation.active {
	left: 4px;
	opacity: 1;
}

.header-sub-navigation a {
	left: 0.024624px;
    opacity: 0.998769;
    visibility: visible;
    display: inline-block;
    position: relative;
    margin-right: 18px;
    color: #96B566;
}

.header-sub-navigation a.active {
	text-decoration: underline;
}

.header-sub-navigation a:hover {
	color: #668E39;
}

#content {
	padding-top: 100px;
	clear: both;
    min-height: 0;
    width: 100%;
    margin: 0;
}

#content-container {
	max-width: 998px;
    min-width: 998px;
	margin: auto;
}