html {
overflow-y:scroll;
}

body {
margin: 0;
font-family:Verdana, Geneva, sans-serif;
color:#5B6553;
}

h1 {
margin:0;
font-size:38px;
font-family:Lobster, Verdana, Geneva, sans-serif;
mari
}

a {
color:#5B6553;
transition:all .3s ease-out;
}

a:hover {
color:#76BA3B;
transition:all .3s ease-out;
}

#header {
height:65px;
min-width: 700px;
background-color:#71B238;
background-image:linear-gradient(to top,#71B238 0%,#A0D373 94%);
border-bottom:1px solid #055999;
box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
z-index:4;
position:relative;
}

#header #nav-container {
max-width:960px;
min-width: 680px;
height:100%;
position:relative;
margin:auto;
padding:0 10px;
}

#nav-container ul {
list-style:none;
position:absolute;
padding:0;
margin:0;
}

#nav-container li {
	display:inline-block;
	padding-right: 10px;
}

#nav-container a {
text-decoration:none;
color:#F4FAEF;
transition:all .3s ease-out;
}

#nav-container a:hover {
color:#598c2c;
transition:all .3s ease-out;
}

#nav-container #main-nav {
bottom:5px;
}

#nav-container #main-nav li {
padding-right:20px;
}

#nav-container #main-nav li a {
font-weight:700;
}

#nav-container #account-controls {
bottom:5px;
right:10px;
}

#nav-container #account-controls li a {
font-size:.75em;
}

#account-controls #account-settings-link {
font-size: 1.2em;
font-weight: 600;
padding-right: 30px;
}

#account-controls #account-settings-link #img-darkener {
	background: #1E2F0F;
	position: absolute;
	left: -35px;
	top: -5px;
}

#account-controls #account-settings-link img {
	height: 30px;
	width: 30px;
}

#account-controls #account-settings-link:hover img {
	opacity: .5;
}

#nav-container .sub-nav {
	bottom: -22px;
	left: 400px;
	opacity: 0;
	transition:all .3s ease-out;
}

#nav-container .sub-nav.active {
	opacity: 1;
	left: 10px;
	transition:all .3s ease-out;
}

#nav-container .sub-nav li a {
color:#76BA3B;
font-size:.75em;
}

#nav-container .sub-nav li a:hover {
color:#598c2c;
}





/****************************
 *   Homepage styles        *
 ****************************/
#introbox {
height:300px;
background-color:#A0D373;
background-image:linear-gradient(to top,#A0D373,#71B238);
box-shadow:3px -3px 7px rgba(0,0,0,0.1) inset;
z-index:1;
position:relative;
padding-top: 20px;
}

#introbox #introbox-container {
max-width:960px;
min-width: 680px;
margin:auto;
padding:0 10px;
position: relative;
overflow: hidden;
}

#introbox #introbox-loader {
padding-top:100px;
}

#floatingCirclesG {
position:relative;
width:60px;
height:60px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
margin:auto;
}

.f_circleG {
position:absolute;
background-color:#6AB030;
height:11px;
width:11px;
-moz-border-radius:5px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.44s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.44s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.44s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.44s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:f_fadeG;
animation-duration:1.44s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01 {
left:0;
top:25px;
-moz-animation-delay:.54s;
-webkit-animation-delay:.54s;
-ms-animation-delay:.54s;
-o-animation-delay:.54s;
animation-delay:.54s;
}

#frotateG_02 {
left:7px;
top:7px;
-moz-animation-delay:.72s;
-webkit-animation-delay:.72s;
-ms-animation-delay:.72s;
-o-animation-delay:.72s;
animation-delay:.72s;
}

#frotateG_03 {
left:25px;
top:0;
-moz-animation-delay:.9s;
-webkit-animation-delay:.9s;
-ms-animation-delay:.9s;
-o-animation-delay:.9s;
animation-delay:.9s;
}

#frotateG_04 {
right:7px;
top:7px;
-moz-animation-delay:1.08s;
-webkit-animation-delay:1.08s;
-ms-animation-delay:1.08s;
-o-animation-delay:1.08s;
animation-delay:1.08s;
}

#frotateG_05 {
right:0;
top:25px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#frotateG_06 {
right:7px;
bottom:7px;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#frotateG_07 {
left:25px;
bottom:0;
-moz-animation-delay:1.62s;
-webkit-animation-delay:1.62s;
-ms-animation-delay:1.62s;
-o-animation-delay:1.62s;
animation-delay:1.62s;
}

#frotateG_08 {
left:7px;
bottom:7px;
-moz-animation-delay:1.8s;
-webkit-animation-delay:1.8s;
-ms-animation-delay:1.8s;
-o-animation-delay:1.8s;
animation-delay:1.8s;
}

100% {
background-color:#6AB030;
}

#introbox-container #slideshow {
height:300px;
list-style:none outside none;
margin:0;
padding:0;
}

#introbox-container #slideshow .slide {
display:none;
}

#introbox-container #slideshow .slide .slide-content {
width:100%;
padding-top:30px;
}

#introbox-container #slideshow .slide .slide-content h1 {
width:400px;
color:#F4FAEF;
float:left;
}

#introbox-container #slideshow .slide .slide-content img {
height:200px;
margin-top: 20px;
position: absolute;
right: 10px;
}

#introbox-container #slideshow .slide .slide-content p {
color:#F4FAEF;
font-size:12px;
line-height:18px;
width:300px;
margin-top:30px;
float:left;
clear: left;
}

#introbox-container #slideshow-controls {
position:absolute;
bottom:16px;
display:None;
}

#introbox-container #slideshow-controls ul {
list-style:none outside none;
margin:0 0 0 5px;
padding:0;
}

#introbox-container #slideshow-controls ul li {
display:inline-block;
padding-right:10px;
}

#introbox-container #slideshow-controls ul li a {
width:10px;
height:10px;
display:block;
border-radius:50px 50px 50px 50px;
background-color:#DFF2CF;
transition:all 0.5s ease-out;
}

#introbox-container #slideshow-controls ul li a.active {
background-color:#6AB030;
transition:all 0.5s ease-out;
}

#introbox-container #slideshow-controls ul li a:hover {
background-color:#598c2c;
}





/****************************
 *   Base styles        *
 ****************************/
#content {
max-width:960px;
min-width: 680px;
margin: 50px auto;
padding: 0 10px;
}

#content h1 {
color: #76BA3B;
border-bottom: 2px solid #76BA3B;
margin-bottom: 20px;
}

/*
 * Login Page
 */
#seasoning-login {
	width: 45%;
	float: left;
}

#seasoning-login .field-wrapper {
	margin-bottom: 10px;
}

#seasoning-login .field-wrapper label {
	display: block;
	float: left;
	width: 150px;
}

#seasoning-login .field-wrapper input {
	width: 50%;
	float: right;
}

#seasoning-login .login-error {
	clear: both;
}

#seasoning-login #extra-login-links a {
	display: block;
	font-size: .75em;
	float: right;
	clear: right;
}

#seasoning-login input#login-submit {
	margin-top: 5px;
	width: 150px;
	float: right;
	clear: both;
}

#social-login {
	width:45%;
	float: right;
	text-align: center;
	padding-top: 10px;
}

#social-login a {
	display: block;
	width: 80%;
	margin: auto;
	padding: 5px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
}

#social-login img {
	float: left;
	height: 20px;
	margin-left: 5px;
}

#social-login #fb-login-btn {
	background-color: #3B5998;
	color: #FFFFFF;
	text-shadow: none;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

#social-login #google-login-btn {
	background-color: #F5F5F5;
	color: #333333;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}