/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	* {
		margin: 0;
	}
	
	html, body {
		height: 100%;
	}
	
	body {
		font: 14px/21px Verdana,Geneva,sans-serif;
		background-color: #F7F7F5;
	}
	
	h1 {
		border-bottom: 3px solid #333;
	}
	
	hr {
		margin-bottom: 10px;
	}
	
	.button-group {
		position: relative;
		height: 24px;
	} 
	
	.add-button {
		position: absolute;
		right: 0;
		top: 0;
		text-decoration: none;
		background-color: #DDDDDD;
		padding: 0 8px 0 24px;
		border-radius: 10px;
		-moz-border-radius: 10px;
	    transition: all 0.5s ease-in-out;
	    -webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	    border: 1px solid #CCCCCC;
	    background-image: url('/static/img/icons/add.png');
	    background-size: 20px 20px;
	    background-repeat: no-repeat;
	    background-position: 2px 0;
	    line-height: 20px;
	}
			
	.add-button:hover {
		background-color: #CCCCCC;
	}
	
	.add-button img {
		float: left;
		width: 16px;
		margin: 2px 2px;
	}
	
	.empty-form, .tooltip {
		display: none;
	}
	
	#impact-breakdown img {
		width: 100%;	
	}
	
	#header {
		width: 100%;
		background-color: #629B31;
		display: block;
		height: 210px; 
		border-bottom:1px solid #5B6553;
		box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
		position: fixed;
		top: 0;
		z-index: 999;
		font-size: 12px;
	}
	
	#header #header-container {
		height: 100%;
		position: relative;
	}
	
	#header-container #logo {
		width: 334px;
		margin: auto;
		padding: 20px 0;
	}
	
	#header-container #grass-end-left {
		position: absolute;
		bottom: 50px;
		height: 20px;
		left: -1%;
		width: 3%;
		background-image: url('/static/img/logos/grass-end.png');
	  	background-size: 116px 20px;
	  	opacity: 0.3; 
	  	filter: alpha(opacity=30);
	}
	
	#header-container #grass {
		position: absolute;
		bottom: 50px;
		height: 20px;
		width: 96%;
		margin: 0 2%;
		background-image: url('/static/img/logos/grass.png');
	  	background-size: 161px 20px;
	  	opacity: 0.3; 
	  	filter: alpha(opacity=30);
	}
	
	#header-container #grass-end-right {
		position: absolute;
		bottom: 50px;
		right: -1%;
		height: 20px;
		width: 3%;
		background-image: url('/static/img/logos/grass-end-right.png');
	  	background-size: 116px 20px;
	  	background-position: right;
	  	
	  	opacity: 0.3; 
	  	filter: alpha(opacity=30);
	}
	
	#header-container #nav-container {
		position: absolute;
		bottom: 0;
		border-top: 1px solid #598c2c;
		border: none;
	}
	
	#nav-container .navlink {
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #F4FAEF;
		transition: background .8s ease;
		-webkit-transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
	}
	
	#nav-container .navlink:hover {
		background-color: rgb(30, 47, 15);
		background-color: rgba(30, 47, 15, 0.2);
	}
	
	#nav-container .navlink.active {
		font-weight: bold;
	}
	
	#header-margin {
		padding-top: 230px;
		clear: both;
	}
	
	#content, 
	.dashboard div#content {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -51px;
		width: 100%;
	}
	
	.push {
		height: 60px;
	}
	
	#footer {
		width: 100%;
		height: 50px;
		background-color: #2F2F2F;
		background-image: url("/static/img/bg.jpg");
		border-top:1px solid #5B6553;
		box-shadow:0 -1px 2px 0 rgba(0,0,0,0.3);
	}
	
	#footer #footer-container {
		position: relative;
		height: 100%;
	}
	
	#footer-container {
		text-align: center;
	}
	
	#footer-container a {
		color: white;
		font-size: 0.7em;
		text-decoration: none;
	}
	
	#footer-container #cc-license {
		height: 50px;
		float: left;
		width: 180px;
	}
	
	#footer-container #cc-license img {
		margin: 8px 0;
	}
	
	#footer-container #footer-links {
		position: absolute;
		top: 5px;
		width: 60%;
		margin: 0 20%;
	}

	#footer-container ul {
		margin: 0;
		padding: 0;
		display: block;
		clear: both;
	}

	#footer-container ul li {
		margin: 0 10px; 
		display: inline;
		color: white;
		font-size: 13px;
	}
	
	#footer-container #social-icons {
		height: 50px;
		float: right;
		width: 180px;
	}
	
	#footer-container #social-icons img {
		width: 30px;
	 	border-radius: 5px;
	 	margin: 8px 0;
	}
	
	#footer-container #footer-links-responsive {
		display: none;
	}
	
	#footer-container #footer-links-responsive div {
		margin-bottom: 10px;
	}
	
	
	
	
	p.author {
		margin: -10px 0 10px 2px;
		font-size: 10px;
	}
	
	
	/* #Static pages
	================================================== */
	
		#static-page-wrapper h1 {
			border-bottom: 3px solid #333;
		}
		
		#static-page-wrapper h2 {
			margin-top: 30px;
		}
		
		#static-page-wrapper ul {
			list-style: disc inside;
			margin: -10px 0 0 10px;
		}
		
		#static-page-wrapper #last-line {
			font-size: 12px;
			line-height: 14px;
		}		

/* #Page Styles
================================================== */

	.column-image {
		width: 100%;
		border: ridge 2px black;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	
	/* #Auth Styles
	================================================== */
	
		/* #Login
		================================================== */
		
			#seasoning-login {
		        width: 50%;
		        float: left;
		        border-right: 1px solid #DDD;
		        position: relative;
			}
			
			#seasoning-login form {
		        margin-bottom: 0;
			}
			
			#seasoning-login input[type="text"],
			#seasoning-login input[type="password"] {
				width: 60%;
			}
			
			#seasoning-login #extra-login-links a {
			    display: block;
			    font-size: .75em;
			    position: absolute;
			    left: 2px;
			    bottom: 62px;
			}
			
			#seasoning-login input[type="submit"] {
				margin-top: 10px;
			}
			
			#social-login {
			    width:45%;
			    float: right;
			    text-align: center;
			    margin-top: 25px;
			}		
			
			#login-page-register {
				text-align: center;
			    padding-top: 50px;
			}
			
			#login-page-register #register-button {
				margin-top: 10px;
				font-size: 20px;
			}
	
	
		/* #Registration
		================================================== */
		
			#seasoning-register {
		        width: 50%;
		        float: left;
		        border-right: 1px solid #DDD;
		        position: relative;
			}
			
			#seasoning-register input[type="text"],
			#seasoning-register input[type="password"] {
				width: 300px;
			}
			
			#seasoning-register #captcha-wrapper {
				margin: 10px 0;
				min-height: 120px;
			    height:auto !important; 
			    height:120px;
			    width: 100px;
			}
			
			#captcha-wrapper #recaptcha_area {
				margin: auto;
			}
			
			#captcha-wrapper input#recaptcha_response_field {
				width: auto;
				display: inline;
			}
			
			#captcha-wrapper .errorlist {
				float: none;
				text-align: center;
			}
			
			#seasoning-register #terms-wrapper {
				margin-top: 30px;
			}
			
			#seasoning-register #terms-wrapper input {
				float: left;
				width: 10px;
				margin: 5px 5px 0 0;
			}
			
			#seasoning-register #terms-wrapper label {
				width: 90%;
				float: left;
			}
			
			#ui-datepicker-div {
				width: 300px
			}
			
			#seasoning-register #registration-submit-button {
				margin: auto;
				width: 250px;
				display: block;
				clear: both;
				text-align: center;
			}
			
			#social-register {
				width:45%;
				float: right;
				text-align: center;
				margin-top: 20px;
			}
			
			#seasoning-register #register-button {
				margin: 30px 0 0 -1px;
				font-size: 20px;
			}
			
			#seasoning-register .errorlist {
				color: red;
				font-size: 12px;
				margin: -15px 0 0 5px;
				clear: both;
			}
			
			#seasoning-register.social {
		        border: none;
			}
			
			#seasoning-register.social #social-avatar {
		        margin-bottom: 20px;
			}
			
			#seasoning-register input[type="submit"] {
				font-size: 20px;
				margin: 30px 0 0 -1px;
			}
	
		/* #Activation Summary
		================================================== */
			
			#resend-activation-email-form {
				margin-top: 30px;
				max-width: 400px;
			}
			
			#resend-activation-email-form input[type=submit] {
				width: 52%;
				margin-right: -2px;
			}
	
		/* #Public Profile
		================================================== */
		
			#account-settings #account-image {
				float: left;
				margin-right: 20px;
				border: 2px ridge #333;
			}
			
			#account-settings #givenname-label {
				float: left;
				margin-right: 20px;
				width: 160px;
			}
			
			#account-settings #account-info #account-name {
				font-weight: bold;
				font-size: 16px;
				display: block;
				margin-bottom: 5px;
			}
			
			#account-settings #account-info img {
				height: 66px;
			}
			
			#account-settings-container #account-recipes {
				clear: both;
				padding-top: 20px;
			}
			
			#account-recipes h3 {
				border-bottom: 2px solid #333;
				margin-right: 258px;
			}
			
			#account-recipes #recipe-summaries-wrapper {
				width: auto;
				margin-right: 180px;
				position: relative;
			}
			
			#account-recipes #search-result-count {
				top: -18px;
				right: 78px;
			}
			
			#account-recipes .page-controls {
				margin: 0 80px 20px 10px;
			}
			
			#account-recipes .page-controls.top {
				display: none;
			}
	
		/* #Account Settings
		================================================== */
		
			#account-settings-container {
				position: relative;
				min-height: 400px;
			}
			
			#account-settings-container #account-settings {
				width: 65%;
				margin: 0 20px 0 0;
				float: left;
			}
			
			#account-settings #account-settings-form {
				float: left;
			}
			
			#account-settings #id_givenname {
				width: 150px;
				margin-right: 20px;
				float: left;
			}
			
			#account-settings #id_surname {
				width: 200px;
				float: left;
			}
			
			#account-settings #name_errors {
				float: right;
				clear: right;
				width: 60%;
			}
			
			#name_errors #givenname_errors {
				width: 50%;
			}
			
			#name_errors #surname_errors {
				width: 49%;
			}
			
			#account-settings #id_email {
				width: 380px;
			}
			
			#account-settings #user-birthday {
				margin-bottom: 20px;
				display: block;
			}
			
			#account-settings #password_p {
				margin: 0 0 20px 0;
				float: left;
			}
			
			#account-settings #password_p #password_span {
				margin-right: 20px;
			}
			
			#account-settings img#avatar_img {
				width: 240px;
				margin-bottom: 10px;
				display: block;
			}
			
			#account-settings input#id_avatar {
				clear: left;
				margin-bottom: 30px;
				width: 300px;
			}
			
			#account-settings-container #account-settings-links {
				width: 180px;
				float: right;
				border-left: 1px solid #DDD;
				padding: 35px 0 0 10px;
				position: absolute;
				right: 0;
				top: -20px;
				bottom: 0;
			}
			
			#account-settings-links ul {
				display: block;
			}
			
			#account-settings .social-connection {
				margin-bottom: 20px;
			}
			
			#account-settings .social-connection img {
				width: 100px;
				float: left;
				border-radius: 5px;
				margin: 14px 0;
				height: 34px;
			}
			
			#account-settings .social-connection p {
				line-height: 20px;
				border-radius: 5px;
				margin: 10px 0 10px 110px;
				padding: 10px 0;
			}
			
			#account-settings .social-connection p.active {
				color:#629B31;
			}
			
			#account-settings-links ul {
				margin: 0;
				padding: 0;
			}
			
			#account-settings-links li {
				list-style: none;
				margin-bottom: 10px;
			}
			
			#account-settings-links li a {
				color:#629B31;
				text-decoration: none;
			}
			
			#account-settings-links li a:hover {
				color:#4E7A28;
			}
			
			#account-settings-links li.active a {
				font-weight: 600;
			}
			
			#account-settings #goto-account-delete {
				width: 120%;
				text-align: center;
			}
			
			#account-settings #goto-account-delete-button {
				margin: 30px auto;
				font-size: 17px;
			}
	
		/* #Account Delete
		================================================== */
		
			#account-delete-form .field-wrapper {
				width: 30%;
				margin: auto;
				text-align: center;
				margin-bottom: 30px;
			}
			
			#account-delete-form .field-wrapper input {
				width: 100%;
				float: none;
			}
			
			#account-delete-form #submit-button {
				text-align: center;
			}
			
			#account-delete-form #submit-button input {
				float: none;
				font-size: 17px;
			}
	
		/* #Misc Authentication Pages
		================================================== */
		
			#password-reset-login-form {
				width: 100%;
				text-align: center;
				font-size: 16px;
			}
			
			#social-account-summary {
				background-color: #629B31;
			    border-radius: 5px 5px 5px 5px;
			    clear: right;
			    float: left;
			    padding: 5px;
			}
			
			#social-account-summary img {
				float: left;
				height: 50px;
			}
			
			#social-account-summary span {
				float: left;
				margin-left: 10px;
				font-weight: bold;
			}
	
	/* #Recipe Styles
	================================================== */
	
		/* #Recipe Summary
		================================================== */
			
			.page-controls {
				height: 22px;
				font-size: 13px;
				font-weight: bold;
				margin-top: 5px;
				clear: both;
			}
			
			.page-controls .page-control {
				opacity: 0.4;
				filter: alpha(opacity=40);
				line-height: 20px;
			    transition: all 0.25s ease-in-out;
			    -webkit-transition: all 0.25s ease-in-out;
			    -moz-transition: all 0.25s ease-in-out;
			    cursor: pointer;
			}
			
			.page-controls .page-control.active {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			
			.page-controls .page-control.active:hover {
				opacity: 0.6;
				filter: alpha(opacity=60);
			}
			
			.page-controls .prev-page {
				float: left;
			}
			
			.page-controls .next-page {
				float: right;
			}
			
			.page-controls .next-page img {
				height: 20px;
				margin: 2px 0 0 5px;
				float: right;
			}
			
			.page-controls .prev-page img {
				height: 20px;
				margin: 2px 5px 0 0;
				float: left;
			}
			
			.recipe-summary {
				width: 216px;
				margin: 10px;
				border: 1px solid transparent;
			    transition: all 0.25s ease-in-out;
			    -webkit-transition: all 0.25s ease-in-out;
			    -moz-transition: all 0.25s ease-in-out;
			    float: left;
			}
			
			.recipe-summary:hover {
			    box-shadow: 0 0 5px rgba(0,0,0, 1);
			    -webkit-box-shadow: 0 0 5px rgba(0,0,0, 1); 
			    -moz-box-shadow: 0 0 5px rgba(0,0,0, 1);
			    border:1px solid rgba(0,0,0, 0.5); 
			}
			
			.recipe-summary img {
				display: block;
				width: 100%;
				height: 220px;
			}
			
			.recipe-summary .recipe-title {
				height: 80px;
				display: block;
				padding: 25px 10px 0;
				background-color: #333333;
				border-bottom: 1px solid #BBB;
				position: relative;
			}
			
			.recipe-title .footprint {
				position: absolute;
				display: block;
				top: -45px;
				right: 10px;
				height: 48px;
				width: 75px;
				padding: 26px 0 0 25px;
				font-size: 20px;
				font-weight: 10;
				background-image: url('/static/img/icons/cloud.png');
			  	background-size: 100px 74px;
			}
			
			.recipe-title .title {
				margin-top: 10px;
			}
			
			.recipe-title .title h4 {
				color: white;
			}
			
			.recipe-description {
				display: block;
				height: 55px;
				font-size: 11px;
				line-height: 18px;
				padding: 5px 10px;
				background-color: white;
			}
			
			.recipe-meta-inf {
				display: block;
				background-color: #EAF2E9;
				padding: 5px 10px;
				font-size: 11px;
				height: 20px;
				border-top: 1px solid #DAE3D3;
			}
			
			.recipe-meta-inf .recipe-time {
				float: left;
				font-weight: bold;
			}
			
			.recipe-meta-inf .recipe-rating {
				float: right;
			}
		
		/* #Browse Recipes
		================================================== */
			
			#basic-search {
				padding-top: 20px;
				position: relative;
				width: 320px;
				margin: auto;
			}
			
			form.keywords {
				margin-bottom: 0;
			}
			
			#basic-search .keywords-searchbar {
				width: 100%;
				margin: 0;
			}		
			
			form.keywords #keywords-submit {
				position: absolute;
				bottom: 0;
			  	right: -10px;
			  	padding: 0;
			  	margin: 2px;
				height: 26px;
				width: 26px;
			  	cursor: pointer;
			  	text-decoration: none;
			  	vertical-align: middle;
			  	z-index: 3;
			  	background: none;
			  	background-image: url('/static/img/icons/search.png');
			  	background-size: 26px 26px;
			  	border: none;
			}
			
			#advanced-link {
				position: absolute;
				top: 40px;
				font-size: 12px;
				
			}
			
			#search-result-count {
				position: absolute;
				right: 0;
				top: 40px;
				font-size: 12px;
			}
			
			#advanced-search {
				position: relative;
				top: -10px;
				width: 225px;
				float: left;
				border-right: 1px solid #DDDDDD;
				background-color: rgb(255, 255, 255);
				background-color: rgba(255, 255, 255, 0.5);
				padding: 10px 0 0 10px;
				display: none;
			}
			
			#advanced-search>div {
				margin: 10px 0;
				float: left;
				width: 100%;
			}
			
			#advanced-search p {
				margin-bottom: 10px;
				font-size: 12px;
				line-height: 14px;
				border-bottom: 1px solid #DDDDDD;
				font-weight: bold;
			}
			
			#advanced-search #sorting-options select {
				width: 150px;
				float: left;
				margin: 0 10px 0 0;
			}
			
			#advanced-search #sorting-options .order-arrow {
				display: inline-block;
			}
			
			#advanced-search #sorting-options .order-arrow img {
				opacity: 0.4;
				filter: alpha(opacity=40);
				height: 20px;
				position: relative;
				margin-right: 5px;
			}
			
			#advanced-search #sorting-options .order-arrow.active img {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			
			#advanced-search #sorting-options ul {
				display: none;
			}
			
			#advanced-search #veg-options {
				clear: both;
			}
			
			#advanced-search #veg-options .veg-choice {
				text-decoration: none;
			}
			
			#advanced-search #veg-options .veg-choice img {
				width: 66px;
				opacity: 0.4;
				filter: alpha(opacity=40);
			}
			
			#advanced-search #veg-options .veg-choice.active img {
				opacity: 1;
				filter: alpha(opacity=100);				
			}
			
			#advanced-search #veg-options input {
				display: none;
			}
			
			#advanced-search #incl-ings a {
				text-decoration: none;
			}
			
			#advanced-search #incl-ings .option {
				font-size: 12px;
				padding: 0;
				border: 2px solid #BBB;
				width: 80px;
				display: inline-block;
				text-align: center;
				line-height: 15px;
				margin-bottom: 10px;
			}
			
			#advanced-search #incl-ings .option.active {
				background-color: rgb(98, 155, 49);
				background-color: rgba(98, 155, 49, 0.5);
			}
			
			#advanced-search #incl-ings .option.first {
				-moz-border-radius-topleft: 4px;
				border-top-left-radius: 4px;
				-moz-border-radius-bottomleft: 4px;
				border-bottom-left-radius: 4px;
			}
			
			#advanced-search #incl-ings .option.last {
				-moz-border-radius-topright: 4px;
				border-top-right-radius: 4px;
				-moz-border-radius-bottomright: 4px;
				border-bottom-right-radius: 4px;
				border-left: none;
			}
			
			#advanced-search #incl-ings ul {
				display: none;
			}
			
			#advanced-search .ingredients-input {
				width: 200px;
				margin: 0 0 10px 0;	
			}
			
			#advanced-search #included-ingredients a {
				display: block;
				margin-bottom: 5px;
				text-decoration: none;
			}
			
			#advanced-search #excluded-ingredients a {
				display: block;
				margin-bottom: 5px;
				text-decoration: none;
			}
			
			#advanced-search .filtered-ingredient {
				background-color: #EAF2E9;
				-moz-border-radius: 6px;
				border-radius: 6px;
				padding: 4px 0 7px 6px;
				width: 200px;
				display: table-cell;
				vertical-align: middle;
				line-height: 10px;
				border: 1px solid transparent;
			    transition: all 0.25s ease-in-out;
			    -webkit-transition: all 0.25s ease-in-out;
			    -moz-transition: all 0.25s ease-in-out;
			    background-image: url("/static/img/icons/delete.png");
			    background-size: 20px 20px;
			    background-repeat: no-repeat;
			    background-position: 98% 0%;
			}
			
			#advanced-search .filtered-ingredient:hover {
			    box-shadow: 0 0 2px rgba(0,0,0, 1);
			    -webkit-box-shadow: 0 0 2px rgba(0,0,0, 1); 
			    -moz-box-shadow: 0 0 2px rgba(0,0,0, 1);
			    border:1px solid rgba(0,0,0, 0.5); 
			}
			
			#advanced-search #extra-info ul {
				margin: 0 0 10px 5px;
			}
			
			#advanced-search #extra-info li {
				margin: 0;
			}
			
			#advanced-search #extra-info label {
				font-size: 11px;
				font-weight: normal;
			}
			
			#recipe-summaries-wrapper {
				width: 960px;
				float: right;
				margin-top: -10px;
			}
			
			#recipe-summaries-wrapper p.sorry {
				max-width: 500px;
				margin: 30px auto;
				text-align: center;
				font-weight: bold;
			}
		
		/* #View Recipe
		================================================== */
			
			h1.recipe-title {
				position: relative;
				border-bottom: 2px solid #333;
			}

			h1 #recipe-actions {
				position: absolute;
				right: 0;
				bottom: 0;
			}

			#recipe-actions img {
				height: 45px;
				opacity: 0.5;
				transition:all .3s ease-out;
				float: right;
			}

			#recipe-actions img:hover {
				opacity: 1;
			}

			#below-recipe-name {
				margin-bottom: 30px;
				float: left;
			}
			
			#below-recipe-name #add-info {
				float: left;
			}
			
			#add-info #time-added {
				font-size: .75em;
			}
			
			#recipe {
				margin-bottom: 50px;
			}

			#recipe #img-and-basic-user-options {
				float: right;
				width: 40%;
				margin: 0 0 10px 10px;
				background-color: rgba(118, 186, 59, 0.1);
			}
			
			#img-and-basic-user-options #recipe-img {
				width: 95%;
				margin: 2.5% 0 0 2.5%;
				cursor: url(/static/img/zoom.cur), -moz-zoom-in;
			}
			
			#zoomed-recipe-image-container {
				position: fixed;
				width: 100%;
				height: 100%;
				z-index: 9995;
				cursor: url('/static/img/zoomout.cur'), -moz-zoom-out;
				display: none;
			}
			
			#zoomed-recipe-image-container #page-darkener {
				position: fixed;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.7; /* Safari, Opera */
				filter: alpha(opacity=70); /* IE */
			}
			
			#zoomed-recipe-image-container #zoomed-recipe-image {
				position: relative;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}
			
			#img-and-basic-user-options > div {
				margin: 10px 0 0 2.5%;
			}
			
			#rating #current-rating {
				margin: 10px 0 0 10px;
			}
			
			#current-rating #rating-display {
				float: left;
			}
			
			#rating #user-rating {
				margin: 10px 0 0 10px;
			}
			
			#user-rating #user-rating-display {
				display: inline;
			}
			
			#time-needed .timebar {
				width:95%;
			    height:16px;
			    padding:0px;
			    margin: 10px 0 25px 10px;
			    
			    border-width:1px;
			    border-style:solid;
			    border-color: #aaa #bbb #fff #bbb;    
			    box-shadow:inset 0px 2px 3px #bbb;
			    position: relative;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			    -moz-border-radius-topright:4px;
			    -moz-border-radius-bottomright:4px;
			    -webkit-border-radius-topright:4px;
			    -webkit-border-radius-bottomright:4px;
			    -o-border-radius-topright:4px;
			    -o-border-radius-bottomright:4px;
			}
			
			#time-needed .timebar,.timebar-active,.timebar-passive {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			    -moz-border-radius-topleft:4px;
			    -moz-border-radius-bottomleft:4px;
			    -webkit-border-radius-topleft:4px;
			    -webkit-border-radius-bottomleft:4px;
			    -o-border-radius-topleft:4px;
			    -o-border-radius-bottomleft:4px;
			}
			
			.timebar .timebar-active,.timebar-passive {
			    height:100%;
			    
			    background-size:18px 18px;
			    background-color: #ac0;   
			    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
			                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
			                        transparent 75%, transparent);
			    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
			                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
			                        transparent 75%, transparent);
			    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
			                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
			                        transparent 75%, transparent);
			    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
			                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
			                        transparent 75%, transparent);
			    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
			                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
			                        transparent 75%, transparent);
			    
			    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
			    position: absolute;
			    left: 0;
			}
			
			.timebar .timebar-passive {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			    -moz-border-radius-topleft:0;
			    -moz-border-radius-bottomleft:0;
			    -webkit-border-radius-topleft:0;
			    -webkit-border-radius-bottomleft:0;
			    -o-border-radius-topleft:0;
			    -o-border-radius-bottomleft:0;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			    -moz-border-radius-topright:4px;
			    -moz-border-radius-bottomright:4px;
			    -webkit-border-radius-topright:4px;
			    -webkit-border-radius-bottomright:4px;
			    -o-border-radius-topright:4px;
			    -o-border-radius-bottomright:4px;
			    background-color: #AAAAAA;
			    left: auto;
			    right: 0;
			}
			
			.timebar span {
				position: absolute;
				right: -2%;
				top: 20px;
			}
			
			#portions {
				position: relative;
			}
			
			#portions #portions-slider-wrapper {
				height: 40px;
			    margin: 10px 0 20px 10px;
				width: 70%;
			}
			
			#portions #portions-slider {
				top: 20px;
			}
			
			#portions #portions-slider-labels {
				width: 99.5%;
				height: 1px;
				margin: 0 0 0 -2px;
				position: relative;
			}
			
			#portions-slider-labels .portions-slider-label {
				position: absolute;
			}
			
			#portions #custom-portions-input {
				width: 15%;
				position: absolute;
				right: 3%;
				bottom: 0;
				top: 33px;
				text-align: right;
			}

			#recipe .recipe-info-wrapper {
				margin: 20px 0 30px;
			}
			
			#recipe .recipe-info-wrapper>div, 
			#recipe .recipe-info-wrapper .ingredient {
				margin: 0;
				padding: 10px 0 10px 20px;
				text-align: justify;
				line-height: 16px;
			}
			
			#recipe #basic-info {
				clear: left;
				width: 53%;
				margin-top: 20px;
			}
			
			#basic-info .vague-description {
				font-weight: bold;
			}

#basic-info #veganism img {
	width: 15%;
}

.ingredient.dark-row {
	background-color: rgba(118, 186, 59, 0.1);
}

.ingredient .ingredient-left {
	display: inline-block;
	width: 47%;
	float: left;
}

.ingredient-left .ingredient-name {
	display: inline-block;
}

.ingredient-left .ingredient-amount {
	float: right;
}

.ingredient .ingredient-right {
	width: 40%;
	height: 1px;
	float: right;
}

.ingredient-right .ingredient-footprint {
	float: right;
	width: 7.5em;
	text-align: right;
}

.ingredient-right .ingredient-moreinfo-button {
	width: 48px;
	float: right;
}

.ingredient .footprint-percentage {
	float: right;
	height: 16px;
	width: 50%;
	position: relative;
    
    border-width:1px;
    border-style:solid;
    border-color: #aaa #bbb #fff #bbb;    
    box-shadow:inset 0px 2px 3px #bbb;
	border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
}

.footprint-percentage .percentage-number {
	float: left;
	font-size: 0.7em;
	margin-left: 5px;
	position: relative;
	z-index: 4;
	color: black;
}

.footprint-percentage .footprint-fill {
	position: absolute;
	right: 0;
	width: 20%;
	height: 100%;
    
    background-size:18px 18px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-radius-topleft:0;
    -webkit-border-radius-bottomleft:0;
    -o-border-radius-topleft:0;
    -o-border-radius-bottomleft:0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-radius-topright:4px;
    -webkit-border-radius-bottomright:4px;
    -o-border-radius-topright:4px;
    -o-border-radius-bottomright:4px;
    background-color: #B80000;
}

.ingredient-moreinfo-button img {
	margin: auto;
	display: block;
	width: 16px;
	height: 16px;
}

.ingredient .moreinfo {
	height: 50px;
	position: relative;
	display: none;
}

.moreinfo .ajax-loader {
	margin-top: 30px;
}

.recipe-info-wrapper #extra-info {
	margin-top: 30px;
}
#recipe .recipe-info-wrapper p {
	margin: 10px 0 0 10px;
}

#instructions #instructions-warning {
	padding: 5px;
	margin: 0 0 20px 0;
	background-color: rgba(98, 155, 49, 0.5);
	border:1px dashed #5B6553;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
	display: none;
}

#give-comment .comment {
	padding-top: 10px;
	padding-bottom: 30px;
}

.comment textarea {
	width: 99%;
	height: 150px;
	max-width: none;
	float: none;
}

#comment-list {
	width: 100%;
	margin-top: 20px;
}

#comment-list .comment {
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #D5EBC1;
transition:all .5s ease-out;
}

#comment-list .comment:hover {
	background-color: rgba(118, 186, 59, 0.1);
transition:all .5s ease-out;
}

.comment .commenter-img {
	float: left;
}

.commenter-img img {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border: 2px solid #5B6553;
}

.comment-content {
	margin-left: 140px;
	position: relative;
}

.comment-content .commenter a {
	color: #76BA3B;
	text-decoration: none;
	font-weight: 600;
transition:all .3s ease-out;
}

.comment-content .comment-submit-date a {
	color: #76BA3B;
	text-decoration: none;
	font-size: .75em;
transition:all .3s ease-out;
}

.comment-content a:hover {
color:#598c2c;
transition:all .3s ease-out;
}

.comment-content .comment-delete {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-content .comment-body {
	margin-top: 10px;
	width: 80%;
	text-align: justify;
}
			
		
		/* #Edit Recipe
		================================================== */
			
			#edit-recipe h1 {
				border-bottom: 2px solid #333;
			}
			
			#add-recipe-form label {
				width: 19%;
				float: left;
			}
			
			#add-recipe-form input, select, textarea {
				width: 80%;
			}
			
			#add-recipe-form #recipe-image {
				margin: 0 0 10px 19%;
				width: 400px;
			}
			
			.add-ingredient-button {
				right: 250px;
			}
			
			#add-recipe-form #uses-formset {
				clear: both;
				padding-top: 10px;
			}
			
			#uses-formset #sortable-ingredients .group {
				line-height: 25px;
				height: 50px;
			}
			
			#uses-formset #sortable-ingredients .group .move-handle {
				height: 50px;
			}
			
			#uses-formset #sortable-ingredients .group input {
				background-color: transparent;
				border: none;
			}
			
			#uses-formset #sortable-ingredients .group .name-label {
				margin-left: 20px;
			}
			
			#uses-formset #sortable-ingredients .group input:focus {
				background-color: white;
			}
			
			#uses-formset #sortable-ingredients .column-labels {
				height: 20px;
				margin-top: 10px;
				display: none;
			}
			
			#uses-formset #sortable-ingredients li {
				clear: both;
				height: 35px;
				padding-left: 30px;
				margin-bottom: 0;
			}
			
			#uses-formset #sortable-ingredients .move-handle {
				position: absolute;
				left: 0;
				height: 30px;
				width: 30px;
				background-image: url('/static/img/icons/move.png');
				background-size: 15px 25px;
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
			}
			
			#uses-formset #sortable-ingredients li input {
				display: inline;
				width: 400px;
				margin: 0 80px 0 0;
			}
			
			#uses-formset #sortable-ingredients .name-label {
				display: inline-block;
				width: 400px;
				margin: 0 86px 0 0;
			}
			
			#uses-formset #sortable-ingredients li input.amount {
				width: 60px;
				text-align: right;
				margin: 0 20px 0 20px;
			}
			
			#uses-formset #sortable-ingredients .amount-label {
				display: inline-block;
				width: 88px;
				text-align: right;
				margin-right: 18px;
			}
			
			#uses-formset #sortable-ingredients li select {
				display: inline;
				width: 100px;
				margin-right: 20px;
				height: 30px;
				margin-top: -5px;
				position: relative;
				line-height: 1;
				padding: 5px;
   				-webkit-appearance: none;
			}
			
			#uses-formset #sortable-ingredients li select option {
				padding-right: 6px;
			}
			
			#uses-formset #sortable-ingredients .unit-label {
				display: inline-block;
				width: 98px;
				text-align: right;
				margin-right: 20px;
			}
			
			#uses-formset #sortable-ingredients .delete-label {
				float: right;
				width: 100px;
				text-align: center;
			}
			
			#uses-formset #sortable-ingredients .delete-button {
				height: 30px;
				width: 100px;
				background-image: url('/static/img/icons/delete.png');
				background-size: 30px 30px;
				background-position: center;
				background-repeat: no-repeat;
				float: right;
	    		transition: all 0.25s ease-in-out;
			}
			
			#uses-formset #sortable-ingredients .delete-button:hover {
			  	opacity: 0.6; 
			  	filter: alpha(opacity=60);
			}
			
			#add-recipe-form input[type="submit"] {
				margin: 30px auto;
				width: 50%;
				display: block;
			}
			
			
	

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#header {
			height: 460px;
			position: relative;
		}
		
		#header-container #grass {
			width: 90%;
			margin: 0 5%;
			bottom: 300px;
		}
		
		#header-container #grass-end-left {
			width: 5%;
			bottom: 300px;
		}
		
		#header-container #grass-end-right {
			width: 5%;
			bottom: 300px;
		}
	
		#content {
			margin-top: 0;
		}
		
		#footer {
			height: auto;
		}
		
		#footer #social-icons {
			float: none;
			width: auto;
		}
		
		#footer #footer-links-responsive {
			display: inline;
		}
		
		.small-screen-hidden {
			display: none !important;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#header-container #logo {
			width: 100%;
			padding-top: 30px;
		}
			
		#header-container #logo img {
			width: 100%;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
