#content h2 {
	margin: 25px 0 -5px 0;
}

#content hr {
	margin-top: 40px;
	border: 1px solid #5B6553;
}

/*
 * about
 */
#content.about {
	text-align: justify;
}

#content.about img {
	margin-right: 10px;
	height: 100%;
}

#content.about img.right {
	margin-left: 10px;
	float: right;
}

#content.about ul {
	margin: 30px 0 0 20px;
	line-height: 30px;
}

#content.about #impact-breakdown {
	float: right;
	margin-right: 10%;
	width: 45%;
}

#content.about #impact-breakdown img {
	width: 100%;
	height: auto;
}

#content.about #labels {
	height: 150px;
	margin: 30px auto;
	text-align: center;
}

#content.about img#mc-img {
	height: 6em;
	float: left;
	margin: 0 30px 0 0;
}

#content.about img#gv-img {
	height: 4em;
}

#content.about #tom1 {
	height: 10em;
}

#content.about #tom2 {
	height: 10em;
}
