{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/homepage.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<h2>Account Instellingen</h2>

<p>E-mail adres: {{ user.email }} <a href="/password/broken/">(Wijzig)</a></p>

<p>Wachtwoord: **** <a href="/password/change/">(Wijzig)</a></p>

<p>Avatar: <img src="{{ user.avatar.url }}">
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ avatar_form.avatar }}<br>
<input type="submit" value="Wijzig Avatar" />
</form>
</p>

{% endblock %}
