{% extends "base.html" %}

{% block title %}{% if viewing_other %}Publiek Profiel{% else %}Mijn Profiel{% endif %}{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style>
/*
 * Tooltip styles
 */
.ui-tooltip {
    position: absolute;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .75em;
    color: #5B6553;
}
</style>
{% endblock %}

{% block extra_script %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
$(function() {
	$('.tooltip-field input').each(function() {
		$(this).tooltip({ 
        	items: ".tooltip-field input", 
        	content:  function() {
            	return $(this).parent().children('.tooltip').text();
        	},
        	position: {
        		of: $(this).parent(),
            	my: "left top",
            	at: "right+10 top-2"
        	},
        }).off("mouseover mouseout");
    });
    
})
</script>
<script src="{{ STATIC_URL }}js/recipe_summaries.js"></script>
{% endblock %}

{% block content %}

<div id="account-settings-container">
    <div id="account-settings">
        {% block account_settings %}
        <div id="account-image">
            <img src="{{ MEDIA_URL }}{{ viewed_user.avatar }}">
        </div>
        
        <div id="account-info">
            <span id="account-name">{{ viewed_user.get_full_name }}</span>
            <span id="account-rank">Rang: {{ viewed_user.rank }}{% if not viewing_other %} ({{ viewed_user.recipes_until_next_rank }} recepten tot volgende rang){% endif %}</span>
            <span>Gemiddelde voetafdruk van toegevoegde recepten: {{ average_fp }}</span>
            <span>Gemiddelde rating van toegevoegde recepten: {{ average_rating }}</span>
            <span>Meeste gebruikte eetstijl: {{ most_used_veganism }}</span>
        </div>
    </div>
        
    
    <div id="account-recipes">
        <h3>Toegevoegde recepten:</h3> 
        {% if not recipes %}
        <p>
            {% if viewing_other %}Deze gebruiker heeft{% else %}Je hebt{% endif %} nog geen recepten toegevoegd!
        </p>
        {% else %}    
        <div id="recipe-summaries-wrapper">
           {% include "includes/recipe_summaries.html" %}
        </div>
        {% endif %}
        {% endblock %}
    </div>
    
    {% if not viewing_other %}
    <div id="account-settings-links">
    	<ul>
    		<li class="{% block public_profile_active %}active{% endblock %}"><a href="/profile/">Publiek Profiel</a></li>
            <li class="{% block profile_settings_active %}{% endblock %}"><a href="/account/settings/profile/">Profiel Instellingen</a></li>
            <li class="{% block social_settings_active %}{% endblock %}"><a href="/account/settings/social/">Sociale Netwerken</a></li>
    		<li class="{% block privacy_settings_active %}{% endblock %}"><a href="/account/settings/privacy/">Privacy Instellingen</a></li>
    	</ul>
    </div>
    {% endif %}
    
    <br class="clear" />
</div>
{% endblock %}
