{% extends "base.html" %}

{% block content %}

<h2>Account Instellingen</h2>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<p>
Gebruikersnaam: {{ user.username }}
</p>
<p>
	{{ form.email.errors }}
	{{ form.email.label }}: {{ form.email }}
	{% if new_email %}
	<br>Nieuw e-mail adres dat nog niet geactiveerd werd: {{ new_email }}
	{% endif %}
</p>
<p>
	Wachtwoord: *** <a href="/password/change/">(Wijzig)</a>
</p>
<p>
	{{ form.avatar.errors }}
	{{ form.avatar }}
</p>
<input type="submit" value="Wijzig Account" />
</form>
</p>

<p>
	<a href="/account/delete/">Verwijder mijn gegevens van Seasoning</a>
</p>

{% endblock %}
