{% load humanize %}
Dit e-mail adres is enkele ogenblikken geleden gebruikt om een account te registreren bij
<a href="{{ site }}">{{ site }}</a>. Indien u, de eigenaar van dit e-mail adres, dit gedaan hebt, kan u onderstaande 
link gebruiken om het account te activeren:


<a href="{{ site }}/activate/{{ activation_key }}/">{{ site }}/accounts/activate/{{ activation_key }}/</a>

Indien u geen account geregistreerd hebt bij <a href="{{ site }}">{{ site }}</a>, kan u deze e-mail gewoon negeren. Het 
account zal dan na {{ expiration_days|apnumber }} dagen verwijderd worden.
