{% extends "base.html" %}

{% block content %}

{% if validlink %}

<h1>Wachtwoord Opnieuw Instellen</h1>

<p>
	Gelieve in onderstaand formulier een nieuw wachtwoord op te geven om je wachtwoord opnieuw in te stellen.
</p>

<form action="" method="post" class="account-form">
	{% csrf_token %}
	
	<div class="field-wrapper">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
		{{ form.new_password1.errors }}
	</div>
	
	<div class="field-wrapper">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
		{{ form.new_password2.errors }}
	</div>

	<input type="submit" value="Change my password" id="account-submit"/>
</form>

{% else %}

<h1>Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}