{% extends "base.html" %}

{% block title %}Publiek Profiel{% endblock %}
{% block page_name %}Profiel van {{ viewed_user.full_name }}{% endblock %}

{% block content %}

<p>
    <img src="{{ MEDIA_URL }}{{ viewed_user.avatar }}"> Naam: {{ viewed_user.get_full_name }}
</p>
<p>
    Rang: {{ viewed_user.rank }}<br />
    Recepten toe te voegen tot volgende rang: {{ viewed_user.recipes_until_next_rank }}
</p>
<div>
    Toegevoegde recepten: 
    {% if not recipes %}
    <p>
        Deze gebruiker heeft nog geen recepten toegevoegd!
    </p>
    {% else %}
    <p>
        {% for recipe in recipes %}
        <a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a><br/>
        {% endfor %}
    </p>
    {% endif %}
</div>

{% endblock %}
