{% extends "base.html" %}

{% block title %}Registreren{% endblock %}

{% block register-active %}active{% endblock %}

{% block content %}

<p>Uw registratie is succesvol verlopen.</p>

<p>
	Er is zonet een e-mail verstuurd naar het door u opgegeven e-mailadres met verdere
	instructies om uw account te activeren. Deze e-mail zou binnen de 15 minuten moeten
	aankomen. Indien u de e-mail binnen het kwartier niet ontvangen hebt, kan u <a href="/activate/resend/">deze link</a>
	gebruiken om hem opnieuw te verzenden. U zal deze link ook terugvinden indien u probeert aan te melden met uw inactieve account.
</p>

<p>
	Zolang uw account niet geactiveerd is, kan u zich spijtig genoeg nog niet aanmelden
	op Seasoning. Terwijl u wacht, kan u echter wel al <a href="/recipes/">enkele
	lekkere recepten zoeken</a>, of wat <a href="/about/">bijkomende informatie over Seasoning</a> lezen.
</p>

{% endblock %}