{% extends "base.html" %}

{% load registration_filters %}

{% block content %}

<h1>Registreren bij Seasoning.be</h1>

<form action="/register/" method="post" class="account-form">
	{% csrf_token %}
  	
	{{ form.non_field_errors }}
	
	<div class="field-wrapper">
        {{ form.username.label_tag }}
        {{ form.username|tabindex:1 }}
        
        {% if form.username.errors %}        
			{{ form.username.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.email.label_tag }}
        {{ form.email|tabindex:2 }}
        
        {% if form.email.errors %}        
			{{ form.email.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.password1.label_tag }}
        {{ form.password1|tabindex:3 }}
        
        {% if form.password1.errors %}        
			{{ form.password1.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.password2.label_tag }}
        {{ form.password2|tabindex:4 }}
        
        {% if form.password2.errors %}        
			{{ form.password2.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.gender.label_tag }}
        {{ form.gender|tabindex:5 }}
        
        {% if form.gender.errors %}        
			{{ form.gender.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.date_of_birth.label_tag }}
        {{ form.date_of_birth|tabindex:6 }}
        
        {% if form.date_of_birth.errors %}        
			{{ form.date_of_birth.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
	</div>
	
	<div class="field-wrapper" id="captcha-wrapper">
		{{ form.captcha.errors }}
        {{ form.captcha|tabindex:7 }}
	</div>
	
	<div class="field-wrapper" id="terms-wrapper">
        {% if form.tos.errors %}        
			{{ form.tos.errors }}
        {% else %}
        	<ul class="errorlist"><li></li></ul>	
        {% endif %}
        
        {{ form.tos|tabindex:8 }}
        {{ form.tos.label_tag}}
	</div>
  
	<input type="submit" value="Registreer" id="account-submit" tabindex=5/>
</form>

<script type="text/javascript">
document.getElementById('username').focus()
</script>

{% endblock %}