{% extends "base.html" %}

{% block page_name %}Registreren bij Seasoning{% endblock %}

{% block content %}

<table>
    <tr>
        <td width=400px>
            <form action="/register/" method="post" class="account-form">
	{% csrf_token %}
  	
	{{ form.non_field_errors }}
	
	<div class="field-wrapper">
        {{ form.givenname.label }}
        {{ form.givenname }}
        
        {% if form.givenname.errors %}        
			{{ form.givenname.errors }}	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.surname.label }}
        {{ form.surname }}
        
        {% if form.surname.errors %}        
			{{ form.surname.errors }}
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.email.label }}
        {{ form.email }}
        
        {% if form.email.errors %}        
			{{ form.email.errors }}	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.password.label }}
        {{ form.password }}
        
        {% if form.password.errors %}        
			{{ form.password.errors }}	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.password2.label }}
        {{ form.password2 }}
        
        {% if form.password2.errors %}        
			{{ form.password2.errors }}	
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.gender.label }}
        {{ form.gender }}
        
        {% if form.gender.errors %}        
			{{ form.gender.errors }}
        {% endif %}
	</div>
	
	<div class="field-wrapper">
        {{ form.date_of_birth.label }}
        {{ form.date_of_birth }}
        
        {% if form.date_of_birth.errors %}        
			{{ form.date_of_birth.errors }}
        {% endif %}
	</div>
	
	<div class="field-wrapper" id="captcha-wrapper">
		{{ form.captcha.errors }}
        {{ form.captcha }}
	</div>
	
	<div class="field-wrapper" id="terms-wrapper">
        {% if form.tos.errors %}        
			{{ form.tos.errors }}
        {% endif %}
        
        {{ form.tos }}
        {{ form.tos.label}}
	</div>
  
	<input type="submit" value="Registreer" id="account-submit" tabindex=5/>
</form>

<script type="text/javascript">
document.getElementById('username').focus()
</script>
</td>
        <td>
            <a id="fb-register-btn" href="/auth/fb/register/">
                Registreer via Facebook
            </a><br/>
            <a class="google-register-btn" href="/auth/google/register/">
                Registreer via Google
            </a>
        </td>
    </tr>
</table>
{% endblock %}