{% extends "base.html" %}

{% block page_name %}Activatie e-mail opnieuw verzenden{% endblock %}

{% block content %}

<p>
	Indien u na 15 minuten of langer nog geen activatie e-mail ontvangen hebt, kan u onderstaand
	formuleer gebruiken om een nieuw exemplaar te verzenden.
</p>

<form action="/activate/resend/" method="post" class="account-form">
	{% csrf_token %}
	
	<div class="field-wrapper">
        {{ form.email.label_tag }}
        {{ form.email }}
		{{ form.email.errors }}
	</div>
	
	<input type="submit" value="Opnieuw Verzenden" id="account-submit" />
</form>

{% endblock %}