{% extends "base.html" %}

{% block page_name %}Registreren met {{ backend.name }}{% endblock %}

{% block content %}
<p>
    Het wachtwoord veld is <strong>NIET VERPLICHT</strong>. Je moet dit veld enkel invullen indien je in de toekomst
    om privacy redenen liever via Seasoning zelf aanmeldt in plaats van via {{ backend.name }}. Dit wachtwoord moet bijgevolg
    niet overeenkomen met je {{ backend.name }} wachtwoord.
</p>
<form method="post" action="{{ backend.registration_url }}">
{% csrf_token %}
{{ form.non_field_errors }}
Given name
<input id="id_givenname" type="text" name="givenname" maxlength="30" value="{{ givenname }}" disabled>
<br>
Surname
<input id="id_surname" type="text" name="surname" maxlength="50" value="{{ surname }}" disabled>
<br>
Email address
<input id="id_email" type="text" name="email" maxlength="255" value="{{ email }}" disabled>
<br>
Avatar: <img src="{{ image }}">
<br>
Date of birth
<input id="id_date_of_birth" type="text" name="date_of_birth" value="{{ date_of_birth }}" disabled>
<br>
{{ form.password.label }} {{ form.password }}
{{ form.password.errors }}
<br>
{{ form.password2.label }} {{ form.password2 }}
{{ form.password2.errors }}
<br>
{{ form.tos }} {{ form.tos.label }}
{{ form.tos.errors }}
<br>
<input type="hidden" value="{{ access_token }}" name="access_token">
<input type="submit" value="Registreren" readonly="readonly">
</form>
{% endblock %}
