{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block page_name %}Veelgestelde Vragen{% endblock %}

{% block content %}

<h1>FAQ</h1>

<a class="anchor-link" id="faq-index-anchor"></a>
<div id="faq-index">
	<ul>
		{% for topic in topics %}
	    <li><a href="#{{ topic.name }}">{{ topic }}</a></li>
		{% endfor %}
	</ul>
</div>

<div id="faq-wrapper">
	{% for topic in topics %}
	<div class="faq-topic-wrapper">
		<a class="anchor-link" id="{{ topic.name }}"></a>
		<h2>{{ topic.name }}</h2>
		{% for question in topic.questions.all %}
		<div class="faq-question-wrapper">
			<div class="faq-question">
				<strong>{{ question.text }}</strong>
				<a href="#faq-index-anchor" class="back-to-index-link">Terug naar het overzicht</a>
			</div>
			<div>
				{{ question.answer|safe|linebreaks }}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}