{% extends "base.html" %}

{% block title %}Bijdragen{% endblock %}

{% block contribute-active %}active{% endblock %}

{% block content %}

<h2>Samen kunnen we een duurzamere en betere toekomst creëren</h2>

<p>Seasoning wordt volledig door vrijwilligers ontwikkeld. Jij kan ons helpen!</p>

<div id="help-seasoning">
    <a href="/recipes/add/">
        <div class="help-type left">
            <img src="{{ STATIC_URL }}img/recipe.jpg" />
            <div class="help-text">
    	        <h3>Voeg recepten toe</h3>
    	        <p>
    	            Door recepten toe te voegen, verhoog je de meerwaarde van Seasoning. Hierdoor zal ons gebruikersaantal
    	            en bijgevolg ook onze algemene impact stijgen.
    	        </p>
    	    </div>
        </div>
    </a>
    
    <a href="/contact/form/info">
        <div class="help-type right">
            <img src="{{ STATIC_URL }}img/enhance.jpg" />
            <div class="help-text">
    	        <h3>Verbeter de site</h3>
            	<p>
    	            Als je een foutje ontdekt hebt, of meer/betere informatie hebt die we op Seasoning kunnen zetten, mag
                	je dit altijd laten weten via ons contactformulier.
    	        </p>
    	    </div>
        </div>
    </a>
    
    <a href="/donate/">
        <div class="help-type left">
            <img src="{{ STATIC_URL }}img/money.jpg" />
            <div class="help-text">
    	        <h3>Doneer</h3>
            	<p>
    	            Door ons een kleine donatie te sturen, help je mee de hostingkosten van Seasoning te betalen.
    	        </p>
    	    </div>
        </div>
    </a>
    
    <div class="help-type right">
        <img src="{{ STATIC_URL }}img/share.jpg" />
        <div class="help-text">
	        <h3>Nodig je vrienden uit</h3>
        	<p>
	            Hoe meer zielen, hoe meer vreugd, hoe meer recepten, hoe meer gebruikers... :)
	        </p>
	    </div>
    </div>
    
    <br class="clear" />
</div>

{% endblock %}
