{% extends "base.html" %}

{% block title %}Bijdragen{% endblock %}

{% block contribute-active %}active{% endblock %}

{% block content %}

<h2>Samen kunnen we een duurzamere toekomst creëren!</h2>

<p>
    Seasoning wordt momenteel volledig ontwikkeld door vrijwilligers en gebruik is gebouwd op 100% Open Source Software. Desalniettemin kost 
    het beheren van een website toch geld. Zo dragen wij momenteel volgende kosten volledig zelf:
</p>

<ul>
    <li>
        <span class="cost-type">Aankoop domeinnaam seasoning.be:</span><span class="cost-amount">€17/jaar</span>
    </li>
    <li>
        <span class="cost-type">Hostingkosten server:</span><span class="cost-amount">€100/jaar</span>
    </li>
</ul>

<p>    
    Deze kosten zullen spijtig genoeg alleen maar oplopen naarmate Seasoning meer gebruikers aantrekt. De website is bovendien vrij van advertenties 
    (en dat willen graag zo houden). 
</p> 

<p>
    Zoals je ziet kruipt er dus veel tijd en geld in dit project. We doen dit met heel veel plezier, omdat we ook sterk geloven in de boodschap die we
    hiermee uitzenden. Indien jij je echter geroepen voelt om ons een handje toe te steken, gaan we dat zeker niet weigeren. Jij kan ons helpen!
</p>

<div id="help-seasoning">
    <a href="/recipes/add/">
        <div class="help-type left">
            <img src="{{ STATIC_URL }}img/recipe.jpg" />
            <div class="help-text">
    	        <h3>Recepten toevoegen</h3>
    	        <p>
    	            Door recepten toe te voegen, verhoog je de meerwaarde van Seasoning. Hierdoor zal ons gebruikersaantal
    	            en bijgevolg ook onze algemene impact stijgen.
    	        </p>
    	    </div>
        </div>
    </a>
    
    <a href="/contact/form/info">
        <div class="help-type right">
            <img src="{{ STATIC_URL }}img/enhance.jpg" />
            <div class="help-text">
    	        <h3>Seasoning verbeteren</h3>
            	<p>
    	            Als je een foutje ontdekt hebt, of meer/betere informatie hebt die we op Seasoning kunnen zetten, mag
                	je dit altijd laten weten via ons contactformulier.
    	        </p>
    	    </div>
        </div>
    </a>
    
    <a href="/donate/">
        <div class="help-type left">
            <img src="{{ STATIC_URL }}img/money.jpg" />
            <div class="help-text">
    	        <h3>Geld doneren</h3>
            	<p>
    	            Een geldelijke donatie kan ons helpen de kosten te drukken om de site online te houden. We zijn volledig transparant over
    	            onze financiën, en alle informatie hierover kan je vinden op de donatie pagina. We hebben niet veel nodig, en alle beetjes
    	            helpen!
    	        </p>
    	    </div>
        </div>
    </a>
    
    <div class="help-type right">
        <img src="{{ STATIC_URL }}img/share.jpg" />
        <div class="help-text">
	        <h3>Vertel het voort!</h3>
        	<p>
	            Hoe meer zielen, hoe meer vreugd, hoe meer recepten, hoe meer gebruikers... :)
	        </p>
	    </div>
    </div>
    
    <br class="clear" />
</div>

{% endblock %}
