{% extends "base.html" %}

{% block content %}
<div id="fb-root"> </div>
<script src="https://connect.facebook.net/en_US/all.js#appId={{ app_id }}&xfbml=1"></script>
<p>
    Het wachtwoord veld is <strong>NIET VERPLICHT</strong>. Je moet dit veld enkel invullen indien je in de toekomst
    om privacy redenen liever via Seasoning zelf aanmeldt in plaats van via Facebook. Dit wachtwoord moet bijgevolg 
    niet overeenkomen met je Facebook wachtwoord.
</p>
<div align="center">
    <fb:registration
        fields='[{"name":"name"},{"name":"first_name"},{"name":"last_name"},{"name":"email"},{"name":"birthday"},{"name":"password","no_submit":true}]'
        redirect-uri="http://{{ site }}/auth/fb/register/">
    </fb:registration>
</div>
{% endblock %}
