<html>
    <div id="fb-root"> </div>
    <script>
		window.fbAsyncInit = function() {
    		// init the FB JS SDK
    		FB.init({
        		appId      : '{{ app_id }}',                        // App ID from the app dashboard
        		channelUrl : '/auth/fb/channel/', // Channel file for x-domain comms
        		status     : true,                                 // Check Facebook Login status
        		xfbml      : true                                  // Look for social plugins on the page
		    });

    		// Additional initialization code such as adding Event Listeners goes here
    		FB.getLoginStatus(function(response) {
        		if (response.status === 'connected') {
        			// User is logged in to Facebook and has authenticated
            		// Seasoning. Try to log the user in to Seasoning with his
        			// access token.
            		var accessToken = response.authResponse.accessToken;
            		window.location = '/auth/fb/?accessToken=' + accessToken + '{{ next }}';
        		} else if (response.status === 'not_authorized') {
        			// User is logged in to Facebook, but has not authenticated
        			// Seasoning. Present the user with an authorization box. After 
        			// authorization, try to log the user in same as above.
            		FB.login(function(response) {
                		if (response.authResponse) {
                			// The user has accepted our offer
                    		var accessToken = response.authResponse.accessToken;
                    		window.location = '/auth/fb/?accessToken=' + accessToken + '{{ next }}';
                		}
            		}, {scope: 'email'}) // We need email to check for existing users with the same email
                } else {
                	// User is not logged in to Facebook, redirect the user to the
                	// Facebook login page, and let him be redirected back to the same
                	// page as above (only with an access code instead of an access token
            		window.location = 'https://www.facebook.com/dialog/oauth?response_type=code&redirect_uri=http://{{ site }}/auth/fb/&scope=email&client_id={{ app_id }}'
        		}
    		}, true);
    		return false;
    	};

		// Load the SDK asynchronously
		( function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
    </script>
    Checking your Facebook Information...
</html>