{% extends "base.html" %}

{% block content %}
<h1>Seasoning verbinden met Google account</h1>

<p>
    Indien je Google wil gebruiken om aan te melden op je Seasoning account, moet je eerst beide
    accounts verbinden. Je bent momenteel op Google ingelogd met volgende gegevens:    
</p>
<p>
    <img id="fb-user-img" src="http://profiles.google.com/s2/photos/profile/{{ id }}?sz=100"><span id="fb-user-name">{{ name }}<br>{{ email }}</span>
</p>
<p>
    Wil je deze Google account koppelen aan je Seasoning account?
</p>
<form action="/auth/google/connect/" method="post">
    {% csrf_token %}
    
    <input type="hidden" name="access-token" id="fb-access-token" value="{{ access_token }}">
    
    <input type="submit" value="Account koppelen">
    <input type="submit" value="Annuleren">

</form>

{% endblock %}