{% extends "skeleton.html" %}

{% block extra_script %}<script src="{{ STATIC_URL }}js/homepage.js"></script>{% endblock %}

{% block extra_head %}
<style>
#nav-container .sub-nav li a {
color:#F4FAEF;
}

#nav-container .sub-nav li a:hover {
color:#598c2c;
}
</style>
{% endblock %}

{% block body %}
		<div id="introbox">
			<div id="introbox-container">
				<div id="introbox-loader">
					{% include "includes/big-ajax-loader.html" %}
				</div>
				<ul id="slideshow">
					<li id="slide-1" class="slide">
						<div class="slide-content">
							<h1>Gezond en bewust eten, volgens de seizoenen</h1>
							<p>
								Seasoning helpt je bewuster omgaan met je alledaagse voeding.
								</p>
								<p>
								De ecologische voetafdruk van recepten wordt automatisch berekend 
								en past zich aan naargelang het seizoen. </p><p>Geef smaak aan de 
								seizoenen en hou rekening met het milieu én je gezondheid.
							</p>
                        </div>
                        <div class="slide-image">
                            <img src="{{ STATIC_URL }}img/Slide1.png">
                        </div>
					</li>
					<li id="slide-2" class="slide">
						<div class="slide-content">
							<h1>Kies voor lokale seizoensproducten</h1>
							<p>
								Hoe dichter bij huis het voedsel is geproduceerd, hoe minder schadelijk 
								de effecten op het leefmilieu. </p><p>De keuze voor voeding van hier betekent 
								dus dat je best kiest voor seizoensproducten.</p><p>Seasoning gidst je doorheen 
								de seizoenen!
							</p>
                        </div>
                        <div class="slide-image">
                            <img src="{{ STATIC_URL }}img/Slide2.png">
                        </div>
					</li>
                    <li id="slide-3" class="slide">
                        <div class="slide-content">
                            <h1>Maak je eigen profiel</h1>
                            <p>
                                Om het meeste uit Seasoning te halen, maak je best een eigen profiel aan.</p><p>
                                Je kan meteen recepten en afbeeldingen plaatsen, reageren op andere recepten 
                                en jouw voorkeuren bepalen.</p><p>Registreren op Seasoning gaat snel, is heel 
                                eenvoudig en bovendien volledig gratis!
                            </p>
                        </div>
                        <div class="slide-image">
                            <img src="{{ STATIC_URL }}img/gdf.bmp">
                        </div>
                    </li>
                    <li id="slide-4" class="slide">
                        <div class="slide-content">
                            <h1>Recept van de week:</h1>
                            <h2><a href="/recipes/{{ recipe_otw.id }}/">{{ recipe_otw.name }}</a></h2>
                            <p>{{ recipe_otw.description }}</p>
                        </div>
                        <div class="slide-image">
                            <img src="{{ MEDIA_URL }}{{ recipe_otw.image }}">
                        </div>
                    </li>
				</ul>
				<div id="slideshow-controls">
					<ul>
						<li><a id="slideshow-control-1" {% if not user.is_authenticated %}class="active" {% endif %}href="#"></a></li>
						<li><a id="slideshow-control-2" href="#"></a></li>
                        <li><a id="slideshow-control-3" href="#"></a></li>
                        <li><a id="slideshow-control-4" {% if user.is_authenticated %}class="active" {% endif %}href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
		
        <div id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <div id="homepage-left-column" class="homepage-column">
                <img src="http://www.clker.com/cliparts/z/0/G/j/e/J/world-grey-md.png" />
                <h2>De duurzaamste recepten van het moment:</h2>
                <p>
                    Er zijn momenteel nog geen recepten beschikbaar :(
                </p>
            </div>
            <div id="homepage-middle-column" class="homepage-column">
                <img src="http://www.clker.com/cliparts/z/0/G/j/e/J/world-grey-md.png" />
                <h2>Help mee aan Seasoning!</h2>
                <p>
                    Als je deze website een leuk initiatief vindt en zelf een handje wil toesteken, is
                    dat altijd zeer welkom. Je kan ons altijd helpen op een van volgende manieren:
                    <ul>
                        <li>
                            Toevoegen van recepten
                        </li>
                        <li>
                            Suggesties/Bugs/Schrijffouten aangeven
                        </li>
                        <li>
                            Doneren
                        </li>
                    </ul>
                </p>
            </div>
            <div id="homepage-right-column" class="homepage-column">
                <img src="http://www.clker.com/cliparts/z/0/G/j/e/J/world-grey-md.png" />
                <h2>Help mee aan Seasoning!</h2>
                <p>
                    Als je deze website een leuk initiatief vindt en zelf een handje wil toesteken, is
                    dat altijd zeer welkom. Je kan ons altijd helpen op een van volgende manieren:
                    <ul>
                        <li>
                            Toevoegen van recepten
                        </li>
                        <li>
                            Suggesties/Bugs/Schrijffouten aangeven
                        </li>
                        <li>
                            Doneren
                        </li>
                    </ul>
                </p>
            </div>
            
            <div class="clear-div"> </div>
        </div>
{% endblock %}