{% extends "base.html" %}

{% block content %}
<div style="text-align: center; position: relative;">
	<h1 style="border: none; margin: 20px 0 5px 0;">Gezond en bewust eten volgens de seizoenen</h1>
	<h5>Scroll naar beneden en kom meer te weten over Seasoning</h5>
	<div style="position: absolute; height: 20px; bottom: -10px; width: 100%; background-image: url('/static/img/logos/facebook icoon.png'); background-size: 30px; background-repeat: no-repeat; background-position: center;"> </div>
	<hr style="margin-top: 20px;" />
</div>
<div style="margin-top: 20px;">
	<div>
		<img src="/static/img/Groenten2.jpg" style="width: 400px; float: left; margin-right: 40px;" />
		<div style="padding-top: 30px;">
			<h3>Wat is Seasoning?</h3>
			<p>
				Seasoning is een interactief platform om de duurzaamheid van recepten doorheen het jaar met elkaar te vergelijken. De 
				ecologische voetafdruk van recepten wordt automatisch berekend en past zich aan naargelang het seizoen. 
			</p>
			<p>
				Geef smaak aan de seizoenen en hou op deze manier rekening met het milieu én je gezondheid.
			</p>
		</div>
		<br class="clear" />
	</div>
	<div style="margin-top: 50px;">
		<img src="/static/img/seasons.jpeg" style="width: 400px; float: right; margin-left: 40px; padding: 50px 0;" />
        <div style="padding-top: 0px; text-align: left;">
			<h3>Waarom?</h3>
			<p>
				De impact van ons eten op het milieu is niet meer te verwaarlozen. Veel mensen willen hier iets
				aan doen en proberen bewuster om te gaan met hun voeding. Er zijn echter talloze factoren 
				waarbij je rekening mee kan houden:
				<ul style="list-style: disc outside; margin: -10px 0 0 30px;">
				    <li>de keuze van ingrediënten</li>
				    <li>de productiewijze</li>
				    <li>het transport</li>
				    <li>de lokale beschikbaarheid</li>
				</ul>
				Omdat het soms moeilijk is om door de bomen het bos nog te zien, probeert Seasoning je te
				helpen bij het zoeken van een duurzame maaltijd.
			</p>
		</div>
    </div>
	<div style="margin-top: 50px;">
        <img src="/static/img/hp2.png" style="width: 400px; float: left; margin-right: 40px;" />
        <div style="padding-top: 50px; text-align: left;">
            <h3>Hoe werkt het?</h3>
            <p>
                Seasoning berekent voor elk recept in zijn databank een 'voetafdruk'. Dit gebeurt aan de hand
                van de hoeveelheden die opgegeven zijn in de beschrijving van het recept en de informatie over
                ingrediënten in onze databank.
            </p>
            <p>
                Deze voetafdruk kan je vervolgens gebruiken om recepten onderling te vergelijken en de juiste
                keuze te maken!
            </p>
            <p>
                Voor meer informatie over hoe we juist te werk gaan bij deze berekening, kan je onze 
                <a href="/faq/">help</a> sectie raadplegen.
            </p>
		</div>
		<br class="clear" />
	</div>
</div>
<div style="text-align: center; position: relative;">
    <div style="position: absolute; height: 20px; bottom: -10px; width: 100%; background-image: url('/static/img/logos/facebook icoon.png'); background-size: 30px; background-repeat: no-repeat; background-position: center;"> </div>
    <hr style="margin: 20px 0 50px;" />
</div>
<div style="padding-top: 0px; text-align: center;">
             <h3>Maak je eigen profiel!</h3>
            <p style="width: 60%; margin: 0 auto 20px;">
                Creër en beheer je eigen profiel. Je kan meteen recepten en afbeeldingen plaatsen, reageren op andere 
                recepten en jouw voorkeuren bepalen.
            </p>
            <p>
                Registreren op Seasoning gaat snel en is heel eenvoudig!
            </p>
            
            <form action="/register/" method="get" style="text-align: center; margin-top: 40px;">
                <input id="register-button" type="submit" value="Registreer Nu!" />
            </form>
        </div>
    
{% endblock %}
