{% load home_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title>Seasoning | {% block title %}Geef smaak aan de seizoenen{% endblock %}</title>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="ROBOTS" content="ALL" />
		<meta name="Copyright" content="Seasoning" />
		<meta name="keywords" content="Duurzaam, Eten, Koken" />
		<meta name="description" content="Seasoning tracht het bewustzijn omtrent de duurzaamheid van onze voedselconsumptie 
		                                  te vergroten. Daarom biedt Seasoning een interactief platform aan om de duurzaamheid 
		                                  van recepten doorheen het jaar met elkaar te vergelijken. Seasoning geeft smaak aan de seizoenen!" />
		
		<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href="{% block base_styles %}{{ STATIC_URL }}css/base.css{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
		{% block extra_link %}{% endblock %}
		
		<script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
		{% block extra_script %}{% endblock %}
		
		{% block extra_head %}{% endblock %}
		<script>
			$(window).scroll(function(){
    			$("#nav-helper").css("top",Math.max(-250, -$(this).scrollTop()));
			});
		</script>
	</head>
	
	<body class="{% block bodyclass %}{% endblock %}">
		<div id="container">
			<div id="nav-helper">
			<div id="header-container">
				<div id="header">
					<div id="logo">
						<a href="/"><img src="{{ STATIC_URL }}img/logos/header.png" /></a>
					</div>
					<div id="nav-container">
						<div id="nav">
							<ul id="main-nav">
								<li><a href="/recipes/">RECEPTEN</a></li>
								<li><a href="/ingredients/">INGREDIENTEN</a></li>
								<li><a href="/news/">NIEUWS</a></li>
								<li><a href="/contribute/">BIJDRAGEN</a></li>
								{% if user.is_authenticated %}
									<li><a href="/account/settings/">MIJN ACCOUNT</a></li>
									<li><a href="/logout/">AFMELDEN</a></li>
								{% else %}
									<li><a href="/register/">REGISTREREN</a></li>
									<li><a href="/login/">AANMELDEN</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div id="header-filler">
			</div>
			<div id="body">
				{% block body %}{% endblock %}
			</div>
			<div id="footer-clearer"> </div>
			<div id="footer">
				<div id="footer-container">
				    <div id="cc-license">
					   <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.nl" target="_blank"><img alt="Creative Commons Licentie" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
					</div>
					<div id="footer-links-container">
    					<span id="footer-links">
        					<ul>
        						<li class="first">
        							<a href="/about/">Over Seasoning</a>
        						</li>
        						<li>
        							<a href="/contact/">Contact</a>
        						</li>
        						<li>
        							<a href="/help/">Help</a>
        						</li>
        						<li>
        							<a href="/terms/">Voorwaarden</a>
        						</li>
        						<li>
        							<a href="/privacypolicy/">Privacybeleid</a>
        						</li>
        						<li>
        							<a href="/sitemap/">Sitemap</a>
        						</li>
        					</ul>
        			    </span>
                    </div>
    			    <div id="social-network-links">
    					<a href="#" id="bookmark-link"><img src="{{ STATIC_URL }}img/favorite-us.png" class="social-logo" alt="Voeg Seasoning toe aan je Favorieten!" /></a>
    					<a href="http://www.facebook.com/Seasoningbelgium" target="_blank"><img src="{{ STATIC_URL }}img/fb-logo-2.png" class="social-logo" alt="De Facebookpagina van Seasoning" /></a>
    					<a href="http://www.twitter.com/Seasoningbe" target="_blank"><img src="{{ STATIC_URL }}img/twitter-bird.png" class="social-logo" alt="De Twitterpagina van Seasoning" /></a>
    			    </div>
   				</div>
			</div>
		</div>
	</body>
</html>
