{% load home_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title>Seasoning | {% block title %}Geef smaak aan de seizoenen{% endblock %}</title>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="ROBOTS" content="ALL" />
		<meta name="Copyright" content="Seasoning" />
		<meta name="keywords" content="Duurzaam, Eten, Koken" />
		<meta name="description" content="Seasoning is een online applicatie die u helpt bij het duurzamer maken van uw dagelijkse leven." />
		
		<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href="{% block base_styles %}{{ STATIC_URL }}css/base.css{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
		{% block extra_link %}{% endblock %}
		
		<script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
		{% block extra_script %}{% endblock %}
		
		{% block extra_head %}{% endblock %}
	</head>
	
	<body class="{% block bodyclass %}{% endblock %}">
		<div id="container">
			<div id="header">
				<div id="nav-container">
				    <ul id="main-nav">
				    	<a href="/"><img src="{{ STATIC_URL }}img/logo.png" style="width:58px;margin-bottom:-5px;" /></a>
						<li><a id="main-nav-link-recipes" class="main-nav-link" href="/recipes/">RECEPTEN</a></li>
						<li><a id="main-nav-link-info" class="main-nav-link" href="/information/">INFORMATIE</a></li>
						{% if user.is_superuser %}
						<li><a id="main-nav-link-admin" class="main-nav-link" href="/admin/">ADMIN</a></li>
						{% endif %}
					</ul>
					<ul id="sub-nav-recipes" class="sub-nav {% active request "RECEPTEN" %}">
						<li class="sub-nav-link"><a href="/recipes/search/">Recepten Zoeken</a></li>
						<li class="sub-nav-link"><a href="/recipes/add/">Recepten	Toevoegen</a></li>
						<li class="sub-nav-link"><a href="/recipes/mine/">Mijn Recepten</a></li>
					</ul>
					<ul id="sub-nav-info" class="sub-nav {% active request "INFORMATIE" %}">
						<li class="sub-nav-link"><a href="/ingredients/">Ingredienten</a></li>
						<li class="sub-nav-link"><a href="/news/">Nieuws</a></li>
						<li class="sub-nav-link"><a href="/contribute/">Bijdragen</a></li>
					</ul>
					{% if user.is_superuser %}
					<ul id="sub-nav-admin" class="sub-nav {% active request "ADMIN" %}">
						<li class="sub-nav-link"><a href="/admin/ingredients/list/">Ingredienten</a></li>
						<li class="sub-nav-link"><a href="/admin/general/staticpage/">Statische Paginas</a></li>
						<li class="sub-nav-link"><a href="/backup/" >Backup Database</a></li>
					</ul>
					{% endif %}
					<ul id="account-controls">
						{% if user.is_authenticated %}
						<li id="account-settings-link" class="account-controls-link"><a href="/account/settings/"><span id="img-darkener"><img src="{{ MEDIA_URL }}{{ user.avatar }}" /></span>{{ user.get_full_name }}</a></li>
						<li class="account-controls-link"><a href="/logout/">Afmelden</a></li>
						{% else %}
						<li class="account-controls-link"><a href="/register/">Registreren</a></li>
						<li class="account-controls-link"><a href="/login/">Aanmelden</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div id="body">
				{% block body %}{% endblock %}
			</div>
			<div id="footer-clearer"> </div>
			<div id="footer">
				<div id="footer-container">
				    <div id="cc-license">
					   <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.nl" target="_blank"><img alt="Creative Commons Licentie" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
					</div>
					<div id="footer-links-container">
    					<span id="footer-links">
        					<ul>
        						<li class="first">
        							<a href="/motifs/">Motivering</a>
        						</li>
        						<li>
        							<a href="/contact/">Contact</a>
        						</li>
        						<li>
        							<a href="/help/">Help</a>
        						</li>
        						<li>
        							<a href="/terms/">Voorwaarden</a>
        						</li>
        						<li>
        							<a href="/privacypolicy/">Privacybeleid</a>
        						</li>
        						<li>
        							<a href="/sitemap/">Sitemap</a>
        						</li>
        					</ul>
        			    </span>
                    </div>
    			    <div id="social-network-links">
    					<a href="#" id="bookmark-link"><img src="{{ STATIC_URL }}img/favorite-us.png" class="social-logo" alt="Voeg Seasoning toe aan je Favorieten!" /></a>
    					<a href="http://www.facebook.com/Seasoningbelgium" target="_blank"><img src="{{ STATIC_URL }}img/fb-logo-2.png" class="social-logo" alt="De Facebookpagina van Seasoning" /></a>
    					<a href="http://www.twitter.com/Seasoningbe" target="_blank"><img src="{{ STATIC_URL }}img/twitter-bird.png" class="social-logo" alt="De Twitterpagina van Seasoning" /></a>
    			    </div>
   				</div>
			</div>
		</div>
	</body>
</html>
