{% extends "base.html" %}

{% block content %}

<h2>Statische paginas bewerken</h2>

<p>
	<a href="/admin/static/contact/">Contact</a> | <a href="/admin/static/support/">Help</a> | <a href="/admin/static/motifs/">Motivering</a> | 
	<a href="/admin/static/privacypolicy/">Privacybeleid</a> | <a href="/admin/static/sitemap/">Sitemap</a> | <a href="/admin/static/terms/">Voorwaarden</a> |
	<a href="/admin/static/information/">Informatie</a> | <a href="/admin/static/news/">Nieuws</a> | <a href="/admin/static/about/">Over Seasoning</a>
</p>
{% if page %}
<p>
	<div><a href="/{{ page_name }}/">{{ page }}</a>: </div>
	<form action="" method="post">
		{% csrf_token %}
		<textarea name="content" style="width:100%;height:1000px;">{{ contents }}</textarea>
		<br/>
		<input type="submit" value="Opslaan">
	</form>  
</p>
{% endif %}
{% endblock %}