{% extends "base.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<h1>Privacybeleid</h1>

<p class="underh1">
	Bedankt voor het gebruik van Seasoning.be. Deze tekst geeft aan op welke manier uw gegevens door ons verwerkt en opgeslagen worden. Het wordt aangeraden om dit document te lezen voordat u persoonlijke informatie doorgeeft. Door gebruik te maken van de website stemt u immers automatisch in met de onderstaande voorwaarden.
</p>

<h2>1. Beheer</h2>

<p class="underh2">
	De website http://www.seasoning.be staat onder het beheer van de feitelijke vereniging De GDF. Meer informatie en contactgegevens zijn te vinden onder <a href="/contact/">contact</a>. 
</p>

<h2>2. Gegevens van bezoekers</h2>

<p class="underh2">
	De gegevens die voortkomen uit &eacute;&eacute;n of meerdere bezoeken aan Seasoning.be zullen enkel bewaard worden indien ze van belang zijn bij het onderhoud of de ontwikkeling van de website. Deze gegevens zijn anoniem en zijn niet te herleiden naar een enkele persoon of organisatie. De gebruiker heeft bovendien te allen tijde de mogelijkheid om de verstrekte gegevens in te kijken, aan te passen of te verwijderen. 
</p>

<p class="underh2">
	Seasoning.be verbindt zich ertoe om alle inspanningen te leveren die noodzakelijk zijn om uw persoonsgegevens te beschermen. Dit teneinde te vermijden dat zij worden vervormd, aangetast of medegedeeld aan niet-toegelaten derden. De databanken waarin uw gegevens opgenomen worden, zijn dan ook beveiligd tegen ongeoorloofde toegang. De gegevens zullen niet gebruikt worden voor commerci&euml;le doeleinden en worden niet doorgegeven aan derden, hetzij onder gerechtelijke dwang. Contactinformatie wordt enkel gebruikt bij uitdrukkelijke toestemming of bij het informeren over belangrijke aanpassingen aan de website. 
</p>

<p class="underh2">
	Seasoning.be respecteert de privacy van alle gebruikers en verbindt zich ertoe om de wet van 8 december 1992 (zoals gewijzigd door de wet van 11 december 1998) inzake de bescherming van de persoonlijke levenssfeer ten opzichte van de verwerking van persoonsgegevens, na te leven. De privacywet is toegankelijk via de website <a href="http://privacy.fgov.be">http://privacy.fgov.be</a>.
</p>

<h2>3. Cookies</h2>

<p class="underh2">
	Seasoning.be maakt gebruik van cookies om de functionaliteit van bepaalde pagina's van de website te optimaliseren. Cookies zijn kleine tekstbestanden die door de website op de computer van de bezoeker worden geplaatst. Hierin wordt informatie opgeslagen waardoor de bezoeker bij een volgend bezoek makkelijker toegang krijgt. De bezoeker kan zijn of haar browser zelf instellen zodat deze het gebruik van cookies al dan niet toelaat.
</p>

<h2>4. Wijzigingen</h2>

<p class="underh2">
	Seasoning.be is gerechtigd de inhoud van dit privacybeleid te wijzigen, maar zal dit steeds melden in een bericht op de website of via e-mail. De laatste aanpassing gebeurde op 24 september 2012.
</p>

<h2>5. Vragen</h2>

<p class="underh2">
	Met vragen en opmerkingen over ons privacybeleid kan u terecht bij <a href="/contact/">contact</a>. Hier kan u eveneens verzoeken de diensten van Seasoning.be niet meer aangeboden te krijgen.
</p>

{% endblock %}
