<span id="number-of-groups" style="display:none;">{{ ingredient.get_available_ins|length }}</span>
<span id="available-in-preservability" style="display:none;">{{ ingredient.preservability }}</span>
{% for available_in in ingredient.get_available_ins %}
<div class="available-in" id="available-in-{{ available_in_location.grouper }}">
    <span class="location-name">{{ available_in.location.name }}{% if available_in.production_type %} ({{ available_in.production_type }}){% endif %}</span>
    <span class="availability-indicator" title="Dit ingredient is beschikbaar in {{ available_in.location }} van {{ available_in.month_from }} tot {{ available_in.month_until }} en bewaarbaar tot {{ available_in.extended_month_until}}.">
        <span class="available-from">{{ available_in.date_from.month }}</span>
        <span class="available-until">{{ available_in.date_until.month }}</span>
    </span>
</div>
{% endfor %}